<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Lídia Gusmão - Médicos da pele. De verdade."
    />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="{{ cssPath }}" />
    <link rel="icon" href="../img/logo.webp" />
    <link rel="stylesheet" href="https://use.typekit.net/qee8jcl.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="canonical" href="https://grupolidiagusmao.com.br/">



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    </script> 

    <title>{{ title }}</title>
  
  </head>

  <body>

    <main>
      {{ content | safe }}
    </main>


    <div class="whatsapp">
        <a href="https://wa.me/5521985853637?text=Ol%C3%A1,%20estava%20no%20site%20da%20Dra.%20Lídia%20Gusmão%20e%20gostaria%20de%20agendar%20uma%20consulta%20por%20favor." target="_blank">
          <img 
            src="../img/icons/whatsapp.png"
             alt="">
        </a>
      </div> 

  </body>
  <script>
    AOS.init({
      duration: 2000,
    });
  </script>
</html>

 <!-- script para o menu que abre do mobile -->
<script>
    const checkbox = document.querySelector('.menu-btn');
    const menu = document.querySelector('.menu');
    const nav = document.querySelector('nav');
  
  checkbox.addEventListener('change', () => {
    if (checkbox.checked) {
      // Abrir o menu suavemente
      menu.classList.add('open');
      const fullHeight = window.innerHeight + 'px';
      menu.style.maxHeight = fullHeight;
      nav.style.zIndex = '11'; // Aumentar o z-index do nav para ficar acima do menu
    } else {
      // Fechar o menu suavemente
      menu.style.maxHeight = menu.scrollHeight + 'px';
      requestAnimationFrame(() => {
        menu.style.maxHeight = '0';
      });
      nav.style.zIndex = '9'
      menu.addEventListener('transitionend', () => {
        menu.classList.remove('open');
      }, { once: true });
    }
  });
  </script>