<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Lídia Gusmão - Médicos da pele. De verdade."
    />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="{{ cssPath }}" />
    <link rel="icon" href="../img/logo.png" />
    <link rel="stylesheet" href="https://use.typekit.net/qee8jcl.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <!-- <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Lídia Gusmão - Médicos da pele. De verdade.",
        "url": "https://confeitariaholandesa.com.br/"
      }
    </script> -->

    <title>{{ title }}</title>
  
  </head>

  <body>

    <main>
      {{ content | safe }}
    </main>

    <!-- <div class="whatsapp">
      <a href="https://api.whatsapp.com/send?phone=5541998100187&text=Ol%C3%A1!%20Gostaria%20de%20fazer%20o%20meu%20pedido." target="_blank">
        <img src="../../img/svg/whatsapp-verde.svg" class="whatsapp" alt="Icone do Whatsapp">
      </a>
    </div> -->

  </body>
</html>
