<footer>
  <div class="footer-content">
    <div class="left">
      <a href="/">
        <img class="img-footer" src="../../img/footer.webp" alt="" />
      </a>
    </div>
    <div class="right">
      <div class="info-footer">
        <p>
          <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2 <br />
          Sala 621 | Edifício do Cinema Odeon <br />
          Rio de Janeiro, RJ | 20031-100
        </p>

        <p>
          <strong>IPANEMA</strong> R. Visconde de Pirajá, nº 550<br />
          Sala 313 | Edifício Top Center <br /> Rio de Janeiro, RJ | 22410-002
        </p>

        <div class="icons">
          <a href="https://www.instagram.com/grupolidiagusmao/" target="_blank">
            <img src="../../img/svg/insta-marrom.svg" alt="Ícone do instagram">
          </a>
          <a href="https://wa.me/5521985853637?text=Ol%C3%A1,%20estava%20no%20site%20da%20Dra.%20Lídia%20Gusmão%20e%20gostaria%20de%20agendar%20uma%20consulta%20por%20favor.">
            <img src="../../img/svg/whats-marrom.svg" alt="Icone do whatsapp" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <a href="https://namiconsultoria.com.br/">Desenvolvido por Nami Consultoria</a>
</footer>