<footer>
  <div class="footer-content">
    <div class="left">
      <a href="/">
        <img class="img-footer" src="../../img/footer.png" alt="" />
      </a>
    </div>
    <div class="right">
      <div class="info-footer">
        <p>
          <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2 <br/>
          Sala 621 | Edifício do Cinema Odeon <br/>
          Rio de Janeiro, RJ | 20031-100
        </p>
        <p>
          <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550<br/>
          Sala 313 | Rio de Janeiro, RJ | 22410-002        
        </p>
        <div class="icons">
          <a href="https://www.instagram.com/grupolidiagusmao/" target="_blank">
            <img src="../../img/svg/insta-marrom.svg" alt="Ícone do instagram">
            </a>          
          <a href="">
            <img src="../../img/svg/whats-marrom.svg" alt="Icone do whatsapp"/>
          </a>
        </div>
      </div>
    </div>
  </div>
<a href="https://namiconsultoria.com.br/">Desenvolvido por Nami Consultoria</a>
</footer>
