<footer>
    <img class="left-ball" src="../../img/svg/bolinha-footer.svg" alt="">
    <img class="right-ball" src="../../img/svg/bolinha-footer.svg" alt="">
    <div class="left">
      <a href="/">
        <img class="img-footer" src="../../img/footer.png" alt="" />
      </a>
    </div>
    <div class="right">
      <div class="info-footer">
        <p><span class="salt">R.</span> Dr. Pedrosa, 366 - Centro, Curitiba</p>
        <p><span class="salt">T</span>elefone: (41) 3333-0111</p>
        <div class="icons">
          <a href="https://www.instagram.com/confeitaria_holandesa/" target="_blank">
            <img src="../../img/svg/instagram.svg" alt="">
            </a>          
            <a href="https://www.facebook.com/ConfeitariaHolandesaOficial/" target="_blank">
              <img src="../../img/svg/facebook.svg" alt="">
            </a>
          <a href="https://api.whatsapp.com/send?phone=5541998100187&text=Ol%C3%A1!%20Gostaria%20de%20fazer%20o%20meu%20pedido.">
            <img src="../../img/svg/whatsapp.svg" alt="Icone do whatsapp"/>
          </a>
        </div>
      </div>
      <a class="nami tablet-desktop" href="https://namiconsultoria.com.br">2025 | Desenvolvido por Nami Consultoria</a>
    </div>
    <a class="nami only-mobile" href="https://namiconsultoria.com.br">2025 | Desenvolvido por Nami Consultoria</a>

</footer>
