<nav class="nav">
  <div class="logo">
    <a href="/">
      <img
        class="banner-img"
        src="../../../img/svg/logo.svg"
        alt="Logo Lídia Gusmão"
      />
    </a>
  </div>

  <div class="nav-right">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon only-mobile"></span>
    </label>
      <ul class="menu">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/tratamentos">tratamentos</a>
        </li>
        <li>
          <a href="/equipe">nossa equipe</a>
        </li>
        <li>
          <a href="/contato">contato</a>
        </li>
        <label class="menu-icon-inside only-mobile" for="menu-btn">
        <span class="navicon"></span
      ></label>
      </ul>
    
  </div>
</nav>
