<nav class="nav">
  <div class="logo">
    <a href="/">
      <img
        class="banner-img"
        src="../../../img/svg/logo.svg"
        alt="Logo Lídia Gusmão"
      />
    </a>
  </div>

  <div class="nav-right">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon only-mobile"></span>
    </label>
      <ul class="menu">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/tratamentos">tratamentos</a>
        </li>
        <li>
          <a href="/equipe">nossa equipe</a>
        </li>
        <li>
          <a href="/contato">contato</a>
        </li>
        <div class="menu-icons only-mobile">
          <a href="https://wa.me/5521985853637?text=Ol%C3%A1,%20estava%20no%20site%20da%20Dra.%20Lídia%20Gusmão%20e%20gostaria%20de%20agendar%20uma%20consulta%20por%20favor.">
            <img src="../../img/svg/whats-menu.svg" alt="">
          </a>  
          <a href="https://www.instagram.com/grupolidiagusmao/">
            <img src="../../img/svg/insta-menu.svg" alt="">
          </a>
        </div>
        <label class="menu-icon-inside only-mobile" for="menu-btn">
        <span class="navicon"></span
      ></label>
      </ul>
  </div>
</nav>
