<nav class="nav">
  <div class="logo">
    <a href="/">
      <img
        class="banner-img"
        src="../../../img/svg/logo.svg"
        alt="Logo Confeitaria Holandesa"
      />
    </a>
  </div>

  <div class="nav-right">
      <ul>
        <li>
          <a href="/tratamentos">tratamentos</a>
        </li>
        <li>
          <a href="/equipe">nossa equipe</a>
        </li>
        <li>
          <a href="/contato">contato</a>
        </li>
      </ul>
  </div>
</nav>
