<nav class="nav2">
  <div class="logo">
    <a href="/">
      <img
        class="banner-img"
        src="../../../img/svg/logo.svg"
        alt="Logo Confeitaria Holandesa"
      />
    </a>
  </div>

  <div class="nav-right">

    <label>
      <input type="checkbox" />
      <span class="menu">
        <span class="hamburger">
          <p class="abrir">Menu</p>
          <img src="../../img/svg/x.svg" class="fechar" />
        </span>
      </span>

      <ul>
        <li>
          <a href="/">Início</a>
        </li>
        <li>
          <a href="/bolos">Bolos</a>
        </li>
        <li>
          <a href="/doces">Doces</a>
        </li>
        <li>
          <a href="/sobremesas">Sobremesas</a>
        </li>
        <li>
          <a href="/salgados">Salgados</a>
        </li>
        <li>
          <a href="/quiches">Quiches e empadões</a>
        </li>
        <li>
          <a href="/contato">Contato</a>
        </li>
        <li>
          <p><span class="salt">R.</span> Dr. Pedrosa, 366 - Centro, Curitiba</p>
        </li>
        <li class="icons">
          <a href="https://www.instagram.com/confeitaria_holandesa/" target="_blank">
          <img src="../../img/svg/instagram.svg" alt="">
          </a>
          <a href="https://api.whatsapp.com/send?phone=5541998100187&text=Ol%C3%A1!%20Gostaria%20de%20fazer%20o%20meu%20pedido.">
            <img src="../../img/svg/whatsapp.svg" alt="Icone do whatsapp"/>
          </a>

        </li>
        <img class="only-desktop" src="../../img/svg/flor-menu.svg" alt="">
      </ul>
    </label>
  </div>
</nav>
