@use 'index' as *;

header{
    width: 100vw;
    height: 35rem;
    position: relative;
    background-color: #A4867d;
    >img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 100/35;
        top: 0;
        left: 0;
    }
    .header-title{
        position: absolute;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 4rem;
            line-height: 2.6rem;
            letter-spacing: 10%;
            font-weight: 400;
            color: $branco;
        }
    }
    @media screen and (max-width: 700px){
        width: 100vw;
        height: 20rem;
        position: relative;
        >img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 36/20;
            top: 0;
            left: 0;
        }
        .header-title{
            h1{
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
    }
    @media screen and (min-width:701px) and (max-width:1260px){
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-img{
            height: 80vh;
            object-fit: cover;
        }
    .header-title{
        position: absolute;
        top: 45%;
        left: 7%;
        z-index: 10;
        text-shadow: 1px 1px 2px $preto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
        }
        p{
            font-size: 2.2rem;
            line-height: 2.2rem;
            width: 70%;
            margin-top: 2rem;
        }
    }
    }
}

.content{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    padding: 15rem 0 18rem;
    max-width: 144rem;
    h1{
     font-size: 5.6rem;   
     line-height: 6rem;
     letter-spacing: 5%;
     font-weight: 700;
     width: 43rem;
    }
    .right-content{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        h3{
            font-size: 2.3rem;
            line-height: 3.3rem;
            letter-spacing: 5%;
            font-weight: 400;
            width: 61rem;
        }
        p, a{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            color: $marrom;
        }
        .address{
            display: flex;
            gap: 2rem;
            align-items: flex-start;
        }
    }
    @media screen and (max-width: 700px){
        flex-direction: column;
        width: 90%;
        padding: 5.8rem 0;
        gap: 4rem;
        h1{
            font-size: 2.4rem;
            line-height: 3rem;
            width: 18rem;
        }
        .right-content{
            h3{
                font-size: 2rem;
                line-height: 2.8rem;
                width: 100%;
            }
            p, a{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
        
    }
}