@use 'index' as *;

header{
    width: 100vw;
    height: 90vh;
    position: relative;
    .header-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 90vh;
        z-index: 2;
        object-fit: cover;
    }
   
    @media screen and (max-width: 700px){
        width: 100vw;
        aspect-ratio: 36/40;
        height: auto;
        position: relative;
        .header-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (min-width:701px) and (max-width:1260px){
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-img{
            height: 80vh;
            object-fit: cover;
        }
    .header-title{
        position: absolute;
        top: 45%;
        left: 7%;
        z-index: 10;
        text-shadow: 1px 1px 2px $preto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
        }
        p{
            font-size: 2.2rem;
            line-height: 2.2rem;
            width: 70%;
            margin-top: 2rem;
        }
    }
    }
}

.equipe{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 12rem 0;
    justify-content: center;
    h1{
        font-size: 5.8rem;
        line-height: 7rem;
        letter-spacing: 2%;
        text-transform: uppercase;
    }
    p{
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 5%;
        width: 42rem;
        margin: 2.5rem 0 10rem;
    }
    .wrap-equipe{
        display: flex;
        column-gap: 2rem;
        row-gap: 5rem;
        flex-wrap: wrap;
        .equipe-item{
            display: flex;
            flex-direction: column;
            width: 40rem;
            height: 63rem;
            cursor: pointer;
            h3{
                font-size: 2.2rem;
                line-height: 2.2rem;
                letter-spacing: 7%;
                text-transform: uppercase;
                font-family: $articulat;
                margin-top: 3rem;
                margin-bottom: 1rem;
                font-weight: 700;
            }
            h4{
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 5%;
                color: $bege;
                font-family: $articulat;
                font-weight: 400;
            }
        }
    }
    @media screen and (max-width:700px) {
        padding: 6rem 0;
        justify-content: center;
        h1{
            font-size: 2.3rem;
            line-height: 2.3rem;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            width: 100%;
            margin: 3rem 0 4.7rem;
        }
        .wrap-equipe{
            display: flex;
            flex-direction: column;
            column-gap: 2rem;
            row-gap: 5rem;
            flex-wrap: wrap;
            .equipe-item{
                display: flex;
                flex-direction: column;
                aspect-ratio: 32/46;
                width: 100%;
                height: auto;
                cursor: pointer;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                h3{
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                    letter-spacing: 2%;
                    margin-top: 2.4rem;
                    margin-bottom: 0.8rem;
                }
                h4{
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    letter-spacing: 2%;
                }
            }
        }
    }
}

.card{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: $gelo;
    .left{
        height: 100vh;
        img{
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        padding: 6rem;
        overflow-y: scroll;
        .voltar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                font-size: 1.8rem;
                line-height: 1.8rem;
                letter-spacing: 5%;
                font-weight: 400;
                text-transform: uppercase;
                color: $bege;
                font-family: $articulat;
            }
            a{
                font-size: 1.8rem;
                line-height: 1.8rem;
                letter-spacing: 10%;
                font-weight: 700;
                color: $marrom;
                text-transform: uppercase;
                font-family: $seasons;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
            }
        }
        .nome{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1.5rem;
            h1{
                font-size: 3rem;
                line-height: 3rem;
                letter-spacing: 5%;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $articulat;
                color: $marrom;
            }
            h2{
                font-size: 2.2rem;
                line-height: 2rem;
                letter-spacing: 5%;
                text-transform: uppercase;
                font-weight: 400;
                color: $bege;
                font-family: $articulat;
            }
        }
        .info{
            font-size: 2rem;
            line-height: 2.6rem;
            letter-spacing: 5%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            ul{
                list-style: disc;
                padding-left: 1.5rem;
            }
        }
    }
    @media screen and (max-width:700px) {
        position: relative;
        flex-direction: column;
        height: auto;
        width: 100vw;
        background-color: $gelo;
        gap: 5.6rem;
        .left{
            width: 100%;
            height: auto;
            img{
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }
        .voltar{
            position: absolute;
            top: 2rem;
            right: 2rem;
            a{
                font-size: 1.4rem;
                line-height: 1.4rem;
                letter-spacing: 10%;
                font-weight: 700;
                color: $branco;
                text-transform: uppercase;
                font-family: $seasons;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 0 5% 9rem;
            overflow-y: scroll;
            
            .nome{
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                margin-top: 0rem;
                h1{
                    font-size: 2rem;
                    line-height: 2rem;
                    letter-spacing: 5%;
                }
                h2{
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    letter-spacing: 5%;
                }
            }
            .info{
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 5%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                ul{
                    list-style: disc;
                    padding-left: 2.5rem;
                    li{
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
}