@use 'index' as *;

header{
    width: 100vw;
    height: 35rem;
    position: relative;
    background-color: #A4867d;
    .header-title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.3rem;
        margin-top: 17.5rem;
        h1{
            font-size: 4rem;
            line-height: 2.6rem;
            letter-spacing: 10%;
            font-weight: 400;
            color: $branco;
        }
    }
    h2{
        position: absolute;
        top: 23rem;
        color: $branco;
        font-size: 2.6rem;
        line-height: 3rem;
        letter-spacing: 15%;
        font-weight: 300;
        left: 50%;
        transform: translateX(-50%);
    }
    @media screen and (max-width: 700px){
        width: 100vw;
        height: 20rem;
        position: relative;
        .header-title{
            position: absolute;
            top: 45%;
            left: 7%;
            margin-top: 0;
            gap: 1.1rem;
            h1{
                font-size: 1.4rem;
                line-height: 1.7rem;
                width: 16rem;
            }
        }
        h2{
            top: 12.5rem;
            font-size: 1.3rem;
            line-height: 1.15rem;
            letter-spacing: 5%;
            left: 28%;
            transform: translateX(-50%);
        }
    }
    @media screen and (min-width:701px) and (max-width:1260px){
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-img{
            height: 80vh;
            object-fit: cover;
        }
    .header-title{
        position: absolute;
        top: 45%;
        left: 7%;
        z-index: 10;
        text-shadow: 1px 1px 2px $preto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
        }
        p{
            font-size: 2.2rem;
            line-height: 2.2rem;
            width: 70%;
            margin-top: 2rem;
        }
    }
    }
}

.select-itens{
    width: 100%;
    margin: 11rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-left: 5%;
    .swiper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5rem;
        .swiper-nav{
            position: absolute;
            top: 6rem;
            right: 8rem;
            display: flex;
            gap: 3rem;
            img{
                width: 3.6rem;
                cursor: pointer;
            }
        }
    }
    h1{
        font-size: 3.6rem;
        line-height: 6rem;
        letter-spacing: 5%;
        font-weight: 400;
        text-transform: uppercase;
    }
    .swiper-wrapper{
        height: auto;
        .swiper-slide{
            position: relative;
            width: 295px !important;
            height: 295px !important;
            border-radius: 50%;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $branco;
                font-size: 2.6rem;
                line-height: 3rem;
                letter-spacing: 10%;
                text-transform: uppercase;
                text-align: center;
                width: 22rem;
                font-family: $articulat;
            }
        }
        .selected{
            pointer-events: none;
            img{
                filter: brightness(60%);
            }
            h3{
                border-bottom: 1px solid $branco;
                padding-bottom: 1rem;
            }
        }
        .swiper-slide:hover{
            img{
                filter: brightness(80%);
                transition: 0.3s;
            }
            h3{
                border-bottom: 1px solid $branco;
                padding-bottom: 1rem;
                transition: 0.3s;
            }
        }
    }
    @media screen and (max-width: 700px){
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        h1{
            font-size: 1.7rem;
            line-height: 2rem;
            letter-spacing: 4%;
        }
        .swiper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            .swiper-nav{
                position: absolute;
                top: 2rem;
                right: 3rem;
                display: flex;
                gap: 1.5rem;
                img{
                    width: 1.7rem;
                    cursor: pointer;
                }
            }
        }
        .swiper-wrapper{
            .swiper-slide{
                position: relative;
                width: 95px !important;
                height: 95px !important; 
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3{
                    transform: translate(-50%, -50%);
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    letter-spacing: 1%;
                    width: 8rem;
                }
            }
            .selected{
                pointer-events: none;
                img{
                    filter: brightness(60%);
                }
                h3{
                    border-bottom: 1px solid $branco;
                    padding-bottom: 3px;
                }
            }
            .selection-item:hover{
                img{
                    filter: brightness(80%);
                    transition: 0.3s;
                }
                h3{
                    border-bottom: 1px solid $branco;
                    padding-bottom: 3px;
                    transition: 0.3s;
                }
            }
        }
    }
}

#changeTitle{
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: 5%;
    margin: 0 auto 8.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 11rem;
    @media screen and (max-width: 700px){
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin: 0 auto 4rem;
        padding-top: 6.5rem;
        width: 31rem;
    }
}

.wrap-content{
    display: flex;
    gap: 12.5rem;
    width: 90%;
    margin: auto;
    padding-bottom: 11rem;
    .left-table{
        width: 31%;
        h3{
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 5%;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 4.4rem
        }
        p{
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: 5%;
            font-weight: 300;
            text-align: left;
        }
        .table-itens{
            margin-bottom: 4.4rem;
            .button{
                display: flex;
                justify-content: space-between;
                border: none;
                border-bottom: 1px solid $background2;
                padding: 2rem 0;
                transition: 0.3s;
                width: 100%;
                background-color: $background;
                cursor: pointer;
            }
            .button:first-of-type{
                margin-top: -2rem;
            }
            .button:hover{
                background-color: #CBB3A033;
                p{
                    font-weight: 600;
                    transition: 0.3s;
                }
            }
        }
        label input {
            display: none;
        }
    }  
    .content{
        flex: 1;
    }  
    .right-content{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 100%;
        >img{
            aspect-ratio: 715/700;
            width: 715px;
            height: auto;
            object-fit: cover;
            margin-bottom: 5rem;
        }
        h2{
            font-size: 2.4rem;
            line-height: 3rem;
            letter-spacing: 4%;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $articulat;
        }
        p, li{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
        }
        ul{
            list-style: disc;
            margin-left: 3rem;
        }
        .info-text{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 715px;
        }
        .adress{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 60%;
        }
    }
    @media screen and (max-width: 700px){
        flex-direction: column;
        gap: 0rem;
        width: 100%;
        margin: auto;
        padding-bottom: 11rem;
        .hamburger{
            .abrir{
                font-size: 1.2rem;
                line-height: 1.2rem;
                color: $marrom;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 6%;
                background-color: $background2;
                padding: 1.2rem 0.6rem;
                border-radius: 0 6px 6px 0;
                text-orientation: mixed;
                writing-mode: sideways-lr;
                margin-top: -10rem;
            }
            .fechar{
                display: none;
            }
        }
        label .side-menu {
            position: relative;
            z-index: 8;
            cursor: pointer;
        }
      
        label input:checked {
            height: 100vh;
            width: 100vw;
            margin-bottom: 0;
            padding-left: 0;
            top: -7.8rem;
        }
        label input:checked + .side-menu .hamburger {
            .abrir{
                display: none;
            }
            .fechar{
                display: initial;
                width: 1.1rem;
                animation: appear 0.5s ease-in;
            }
        }
        label input:checked + .side-menu + .table-itens {
            opacity: 1;
            flex-direction: column;
            display: flex;
            position: absolute;
            top: 45rem;
            left: 0;
            background-color: $background2;
            padding-left: 2.4rem;
            padding-top: 12rem;
            z-index: 10;
            border-radius: 0px 20px 20px 0px;
            .fechar{
                position: absolute;
                right: 2.6rem;
                top: 3.4rem;
                cursor: pointer;
            }
            .logo{
                position: absolute;
                left: 2.6rem;
                top: 1.7rem;
                width: 2.6rem;
                cursor: pointer;
            }
        }
        label .table-itens {
            position: absolute;
            height: 100vh;
            opacity: 0;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            display: none;
            animation: appear 0.5s ease-in;
            width: 80vw;
        }
        .left-table{
            width: 100%;
            p{
                font-size: 1.6rem;
                line-height: 2rem;
            }
            .table-itens{
                margin-bottom: 0rem;
                .button{
                    display: flex;
                    border-bottom: 1px solid $marrom;
                    padding: 1.2rem 0;
                    transition: 0.3s;
                    width: 90%;
                    background-color: $background2;
                    p{
                        text-align: left;
                    }
                    img{
                        display: none;
                    }
                }
                .blueButton{
                    margin-top:3rem;
                    display: flex !important;
                }
            }
            .selected{
                background-color: #CBB3A033 !important;
                p{
                    font-weight: 600;
                };
            }
            label input {
                display: none;
            }
        }  
        .content{
            flex: 1;
        }  
        .right-content{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 90%;
            margin: auto;
            >img{
                aspect-ratio: 31/30;
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-bottom: 0rem;
            }
            h2{
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 2%;
                font-weight: 700;
                text-transform: uppercase;
                width: 30rem;
            }
            p, li{
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 2%;
            }
            .table-itens{
                list-style: disc;
                margin-left: 3rem;
            }
            .info-text{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
            }
            .adress{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
            }
        }
    }
}