@use 'index' as *;

header{
    width: 100vw;
    height: 35rem;
    position: relative;
    background-color: #A4867d;
    .header-title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.3rem;
        margin-top: 17.5rem;
        h1{
            font-size: 4rem;
            line-height: 2.6rem;
            letter-spacing: 10%;
            font-weight: 400;
            color: $branco;
        }
    }
    h2{
        position: absolute;
        top: 23rem;
        color: $branco;
        font-size: 2.6rem;
        line-height: 3rem;
        letter-spacing: 15%;
        font-weight: 300;
        left: 50%;
        transform: translateX(-50%);
    }
    @media screen and (max-width: 700px){
        width: 100vw;
        height: 60vh;
        position: relative;
        .header-img{
            height: 60vh;
            object-fit: cover;
        }
        .header-title{
            position: absolute;
            top: 45%;
            left: 5%;
            z-index: 10;
            text-shadow: 1px 1px 2px $preto;
            h1{
                font-size: 3rem;
                line-height: 3rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 1.9rem;
                width: 65%;
                margin-top: 1.6rem;
            }
        }
    }
    @media screen and (min-width:701px) and (max-width:1260px){
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-img{
            height: 80vh;
            object-fit: cover;
        }
    .header-title{
        position: absolute;
        top: 45%;
        left: 7%;
        z-index: 10;
        text-shadow: 1px 1px 2px $preto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
        }
        p{
            font-size: 2.2rem;
            line-height: 2.2rem;
            width: 70%;
            margin-top: 2rem;
        }
    }
    }
}

.swiper{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 11rem;
    gap: 6rem;
    h1{
        font-size: 3.6rem;
        line-height: 6rem;
        letter-spacing: 5%;
        font-weight: 400;
        text-transform: uppercase;
    }
    .swiper-wrapper{
        .swiper-slide{
            position: relative;
            width: 295px;
            height: 295px;
            border-radius: 50%;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $branco;
                font-size: 2.6rem;
                line-height: 3rem;
                letter-spacing: 10%;
                text-transform: uppercase;
                text-align: center;
                width: 22rem;
                font-family: $articulat;
            }
        }
        .selected{
            pointer-events: none;
            img{
                filter: brightness(60%);
            }
            h3{
                border-bottom: 1px solid $branco;
                padding-bottom: 1rem;
            }
        }
        .selection-item:hover{
            img{
                filter: brightness(80%);
                transition: 0.3s;
            }
            h3{
                border-bottom: 1px solid $branco;
                padding-bottom: 1rem;
                transition: 0.3s;
            }
        }
    }
}

#changeTitle{
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: 5%;
    margin: 0 auto 8.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 11rem;
}

.wrap-content{
        display: flex;
        gap: 12.5rem;
        width: 90%;
        margin: auto;
        padding-bottom: 11rem;
    .left-table{
                width: 31%;
                h3{
                    font-size: 2rem;
                    line-height: 2.8rem;
                    letter-spacing: 5%;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 4.4rem
                }
                p{
                    font-size: 2rem;
                    line-height: 2rem;
                    letter-spacing: 5%;
                    font-weight: 300;
                    text-align: left;
                }
                .table-itens{
                    margin-bottom: 4.4rem;
                    a{
                        display: flex;
                        justify-content: space-between;
                        border: none;
                        border-bottom: 1px solid $background2;
                        padding: 2rem 0;
                        transition: 0.3s;
                        width: 100%;
                        background-color: $background;
                        cursor: pointer;
                    }
                    a:first-of-type{
                        margin-top: -2rem;
                    }
                    a:hover{
                        background-color: #CBB3A033;
                        p{
                            font-weight: 600;
                            transition: 0.3s;
                        }
                    }
                }
    }  
    .content{
        flex: 1;
    }  
    .right-content{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 100%;
        >img{
                    aspect-ratio: 715/700;
                    width: 715px;
                    height: auto;
                    object-fit: cover;
                    margin-bottom: 5rem;
        }
        h2{
                    font-size: 2.4rem;
                    line-height: 3rem;
                    letter-spacing: 4%;
                    font-weight: 600;
                    text-transform: uppercase;
        }
        p, li{
                    font-size: 2rem;
                    line-height: 3rem;
                    letter-spacing: 5%;
        }
        ul{
                    list-style: disc;
                    margin-left: 3rem;
        }
        .info-text{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 715px;
        }
        .adress{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    width: 60%;
        }
    }
}