@use 'index' as *;

header{
    width: 100vw;
    height: 90vh;
    position: relative;
    .header-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 90vh;
        z-index: 2;
        object-fit: cover;
    }
    .text-box{
        position: absolute;
        z-index: 4;
        top: 50%;
        right: 25%;
        transform: translate(50%, -50%);
        overflow: hidden;
        h1{
            color: $branco;
            font-size: 2.6rem;
            line-height: 3.6rem;
            letter-spacing: 5%;
            font-family: $articulat;
            font-weight: 400;
            animation: show 9s ease-in;
            position: absolute;
            width: 51rem;
        }
        img{
            animation: disappear 5s both;
        }
        &:hover{
            h1{
                animation: noshow 4s both;
            }
            img{
                animation: appear 4s;
            }
        }
    }
   
    @media screen and (max-width: 700px){
        width: 100vw;
        aspect-ratio: 36/48;
        height: auto;
        position: relative;
        .header-img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .text-box{
            right: unset;
            left: 50%;
            transform: translate(-50%, -50%);
           h1{
               display: none;
           }
           img{
               animation: none;
               width: 18rem;
           }
           &:hover{
               h1{
                   animation: none;
               }
               img{
                   animation: none
               }
           }
        }
    }
    @media screen and (min-width:701px) and (max-width:1260px){
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-img{
            height: 80vh;
            object-fit: cover;
        }
    .header-title{
        position: absolute;
        top: 45%;
        left: 7%;
        z-index: 10;
        text-shadow: 1px 1px 2px $preto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
        }
        p{
            font-size: 2.2rem;
            line-height: 2.2rem;
            width: 70%;
            margin-top: 2rem;
        }
    }
    }
}

.realce{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem 0;
    h2{
        font-size: 3rem;
        font-weight: 400;
        line-height: 3.6rem;
        letter-spacing: 5%;
        color: $marrom;
        width: 61rem;
        text-align: center;
        margin-bottom: 5.5rem;
    }
    .right-image{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
    }
    a{
        margin-bottom: 12rem;
    }
    p{
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 400;
        color: $marrom;
        letter-spacing: 5%;
        width: 82rem;
        text-align: center;
        margin-top: 7rem;
    }
    @media screen and (max-width: 700px) {

        padding: 6.5rem 0;
        h2{
            font-size: 1.8rem;
            line-height: 2.4rem;
            letter-spacing: 0%;
            width: 85%;
            text-align: center;
            margin-bottom: 1.5rem;
        }
        .right-image{
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
            width: 20rem;
            height: 50rem;

        }
        .realce-image{
            aspect-ratio: 31/33;
            width: 90%;
            height: auto;
            object-fit: cover;
            margin: auto;
        }
        a{
            margin-bottom: 7.2rem;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 2%;
            width: 90%;
            margin-top: 4.6rem;
        }
    }
}

.setores{
    h1{
        font-size: 6rem;
        line-height: 6rem;
        letter-spacing: 5%;
        font-weight: 700;
        color: $marrom;
        text-transform: uppercase;
        margin:0 auto 3rem;
        text-align: center;
    }
    p{
        font-size: 2.3rem;
        line-height: 3rem;
        color: $marrom;
        text-align: center;
        margin-bottom: 8rem;
        letter-spacing: 5%;
    }
    >a{
        margin: 8rem auto 17rem;
    }
    .swiper1{
        position: relative;
        .left-back{
            height: 100%;
            width: 18rem;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(236, 228, 214, 0.8) 100%);
            z-index: 3;
        }
        .right-back{
            height: 100%;
            width: 18rem;
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(236, 228, 214, 0.8) 100%);
            z-index: 3;
        }
        .swiper-button-prev1{
            position: absolute;
            left: 2rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 8rem;
            height: 8rem;
            border: 2px solid $marrom;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: 4rem;
            }
        }
        .swiper-button-next1{
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 8rem;
            height: 8rem;
            border: 2px solid $marrom;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: 4rem;
            }
        }
        .swiper-slide{
            width: 71rem;
            height: 76rem;
            a{
                position: relative;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h2{
                    position: absolute;
                    bottom: 0;
                    font-weight: 700;
                    left: 0;
                    width: 100%;
                    font-size: 3.6rem;
                    line-height: 4.6rem;
                    letter-spacing: 5%;
                    color: $branco;
                    height: 18rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: #64453f33;
                }
    
            }
    
        }
    }
    @media screen and (max-width: 700px) {
        h1{
            font-size: 2.8rem;
            line-height: 2.8rem;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 2%;
            width: 90%;
            margin: 0 auto 4.5rem;
        }
        >a{
            margin: 3rem auto 7rem;
        }
        .swiper1{
            position: relative;
            .left-back{
                width: 9rem;
            }
            .right-back{
                width: 9rem;
            }
            .swiper-button-prev1{
                left: 1.6rem;
                width: 4rem;
                height: 4rem;
                img{
                    width: 2rem;
                }
            }
            .swiper-button-next1{
                right: 1.6rem;
                width: 4rem;
                height: 4rem;
                img{
                    width: 2rem;
                }
            }
            .swiper-slide{
                aspect-ratio: 36/38;
                width: 100%;
                height: auto;
                a{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    h2{
                        font-size: 2rem;
                        line-height: 2.4rem;
                        letter-spacing: 10%;
                        height: 10rem;
                    }
        
                }
        
            }
        }
    }
}

.equipe{
    display: flex;
    gap: 12.5rem;
    margin-bottom: 18rem;
    .right-equipe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-size: 5.6rem;
            line-height: 6rem;
            color: $marrom;
            text-transform: uppercase;
            width: 20rem;
            letter-spacing: 5%;
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            width: 50rem;
            margin: 12rem 0 6.5rem;
        }
    }
    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 5.5rem;
        h1{
            font-size: 3rem;
            line-height: 3.2rem;
            color: $marrom;
            text-transform: uppercase;
            width: 15rem;
            font-weight: 700;
            letter-spacing: 5%;
            margin-left: 8%;
        }
        >img{
            aspect-ratio: 1/1;
            width: 94%;
            height: auto;
            object-fit: cover;
        }
        .right-equipe{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 2%;
                width: 86%;
                margin: 1rem auto 4rem;
            }
            a{
                margin-left: 7%;
            }
        }
    }
}

.depoimentos{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  .depoimentos-left{
    h2{
      font-size: 5.6rem;
      line-height: 6rem;
      width: 43rem;
      letter-spacing: 5%;
    }
  }
  .depoimentos-right{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 50%;
        height: 60rem;
        overflow: hidden;
        position: relative;
      .depoimentos-meio{
        width: 7.7rem;
        height: 10rem;
        img{
            width: 100%;
        }
      }
      .swiper2{
          width: 100%;
          height: 100%;
          margin-top: 1.5rem;
      }
      p{
            font-size: 2rem;
            line-height: 3rem;
            width: 50rem;
            letter-spacing: 5%;
      }
      h4{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            margin-top: 4rem;
            font-family: $articulat;
            color: $marrom;
            font-weight: 600;
        }
        .swiper-nav{
            display: flex;
            gap: 5rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            cursor: pointer;
            .swiper-button-next2, .swiper-button-prev2{
              width: 1.6rem;
              height: 3rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
  }
  @media screen and (max-width:700px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    .depoimentos-left{
        h2{
        font-size: 2.4rem;
        line-height: 2.6rem;
        width: 23rem;
        }
    }
    .depoimentos-right{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        width: 100%;
        height: 44rem;
        overflow: hidden;
        position: relative;
        .depoimentos-meio{
        width: 3.1rem;
        height: 2.7rem;
        margin-top: 4rem;
            img{
                width: 100%;
            }
        }
        .swiper2{
          width: 100%;
          height: 100%;
          margin-top: 0rem;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            width: 100%;
            letter-spacing: 0%;
            padding-left: 5rem;
        }
        h4{
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: 2%;
            margin-top: 2.5rem;
            padding-left: 5rem;
        }
        .swiper-nav{
            gap: 2.2rem;
            top: unset;
            bottom: 0;
            z-index: 4;
            cursor: pointer;
            .swiper-button-next2, .swiper-button-prev2{
              width: 0.9rem;
              height: 1.8rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
  }
}

.voce{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    margin-bottom: 13rem;
    p{
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: 5%;
        width: 82rem;
    }
    @media screen and (max-width: 700px) {
        margin: 6rem auto;
        gap: 3.2rem;
        p{
            font-size: 1.8rem;
            line-height: 2.4rem;
            text-align: center;
            width: 90%;

        }
    }
}

.espaco{
    position: relative;
    aspect-ratio: 144/62;
    width: 100vw;
    height: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h1{
        position: absolute;
        top: 5rem;
        left: 10rem;
        font-size: 4rem;
        line-height: 5.6rem;
        letter-spacing: 5%;
        color: $gelo;
        z-index: 3;
    }
    .swiper-pagination{
        position: absolute;
        top: 12rem !important;
        left: 0 !important;
        bottom: unset !important;
        z-index: 3;
        width: 100%  !important;
        .swiper-pagination-bullet{
            width: 190px;
            height: 4px;
            background-color: #FCF4E8CC;
            border-radius: 0;
        }
        .swiper-pagination-bullet-active{
            background-color: $gelo;
        }
    }
    @media screen and (max-width: 700px) {
        position: relative;
        aspect-ratio: 1/1;
        width: 100vw;
        height: auto;
        .swiper-slide{
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h1{
            position: absolute;
            top: 2.8rem;
            left: 2.4rem;
            font-size: 2.2rem;
            line-height: 2.2rem;
            letter-spacing: 4%;
        }
        .swiper-pagination{
            position: absolute;
            top: 6.7rem !important;
            left: 0 !important;
            bottom: unset !important;
            z-index: 3;
            width: 100%  !important;
            .swiper-pagination-bullet{
                width: 50px;
                height: 2px;
                background-color: #FCF4E8CC;
                border-radius: 0;
            }
            .swiper-pagination-bullet-active{
                background-color: $gelo;
            }
        } 
    }
}

.pre-footer{
    position: relative;
    aspect-ratio: 144/80;
    width: 100%;
    height: auto;
    margin-top: -5px;
    >img{
        position:absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        
    }
    .pre-right{
        aspect-ratio: 94/80;
        display: flex;
        position: absolute;
        right: 0;
        z-index: 3;
        flex-direction: column;
        justify-content: center;
        gap: 9rem;
        width: auto;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 237, 226, 0.7) 32%, #F5ECDE 100%);
        padding: 9rem 7% 9rem 25%;
        h1{
            font-size: 4rem;
            line-height: 4.8rem;
            font-weight: 400;
            width: 42rem;
            letter-spacing: 5%;
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 400;
            letter-spacing: 5%;
        }
        .selector{
            p{
                cursor: pointer;
                padding-bottom: 5px;
                width: fit-content;
                letter-spacing: 8%;
            }
            p:hover{
                border-bottom: 1px solid;
            }
        }
        .selected{
            font-weight: bold;
            pointer-events: none;
            border-bottom: 1px solid;
        }
        .right-info{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            a{
                width: 4rem;
                img{
                    width: 100%;
                }
            }
        }
    }
    @media screen  and (max-width: 700px) {
        position: relative;
        aspect-ratio: 36/56;
        width: 100%;
        height: auto;
        margin-top: -5px;
        >img{
            position:absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            filter: linear-gradient(180deg, rgba(255, 255, 255, 0) 27.68%, rgba(246, 237, 226, 0.8) 45.76%, #F5ECDF 89.06%, #F5ECDE 100%);            
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 27.68%, rgba(246, 237, 226, 0.8) 45.76%, #F5ECDF 89.06%, #F5ECDE 100%);            
        }
        .pre-right{
            aspect-ratio: unset;
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 25rem;
            z-index: 5;
            justify-content: center;
            gap: 3.4rem;
            width: 100%;
            height: auto;
            padding: 0rem 5%;
            background: none;
            h1{
                font-size: 2rem;
                line-height: 2.4rem;
                font-weight: 400;
                width: 23rem;
                letter-spacing: 5%;
            }
            p{
                font-size: 1.5rem;
                line-height: 2.2rem;
                font-weight: 300;
                letter-spacing: 2%;
            }
            .selector{
                p{
                    cursor: pointer;
                    padding-bottom: 5px;
                    width: fit-content;
                    letter-spacing: 8%;
                }
                p:hover{
                    border-bottom: 1px solid;
                }
            }
            .selected{
                font-weight: bold;
                pointer-events: none;
                border-bottom: 1px solid;
            }
            .right-info{
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                a{
                    width: 2.4rem;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes noshow{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes disappear{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}