@use 'index' as *;

header{
    width: 100vw;
    height: 35rem;
    position: relative;
    background-color: #A4867d;
    .header-title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.3rem;
        margin-top: 17.5rem;
        h1{
            font-size: 4rem;
            line-height: 2.6rem;
            letter-spacing: 10%;
            font-weight: 400;
            color: $branco;
        }
    }
    h2{
        position: absolute;
        top: 23rem;
        color: $branco;
        font-size: 2.6rem;
        line-height: 3rem;
        letter-spacing: 15%;
        font-weight: 300;
        left: 50%;
        transform: translateX(-50%);
    }
   @media screen and (max-width: 700px){
        width: 100vw;
        height: 20rem;
        position: relative;
        .header-title{
            position: absolute;
            top: 45%;
            left: 7%;
            margin-top: 0;
            gap: 1.1rem;
            h1{
                font-size: 1.4rem;
                line-height: 1.7rem;
                width: 16rem;
            }
        }
        h2{
            top: 12.5rem;
            font-size: 1.3rem;
            line-height: 1.15rem;
            letter-spacing: 5%;
            left: 28%;
            transform: translateX(-50%);
        }
    }
    @media screen and (min-width:701px) and (max-width:1260px){
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-img{
            height: 80vh;
            object-fit: cover;
        }
    .header-title{
        position: absolute;
        top: 45%;
        left: 7%;
        z-index: 10;
        text-shadow: 1px 1px 2px $preto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
        }
        p{
            font-size: 2.2rem;
            line-height: 2.2rem;
            width: 70%;
            margin-top: 2rem;
        }
    }
    }
}

.botulinica{
    width: 85%;
    margin: auto;
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    h1{
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700;
        letter-spacing: 5%;
        text-transform: uppercase;
    }
    .botulinica-itens{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(2, 1fr);
        .botulinica-item{
            position: relative;
            width: 40rem;
            height: 50rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
                line-height: 4rem;
                letter-spacing: 10%;
                color: $branco;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $articulat;
                text-align: center;
                width: 25rem;
            }
        }
        .first{
            grid-column: 1;
            grid-row: 1;
        }
        .second{
            grid-column: 2;
            grid-row: 1;
        }
        .third{
            grid-column: 2;
            grid-row: 2;
        }
        .fourth{
            grid-column: 3;
            grid-row: 2;
        }
    }
    a{
        margin: auto;
    }
    @media screen and (max-width: 700px){
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        h1{
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 700;
            letter-spacing: 5%;
            text-transform: uppercase;
        }
        .botulinica-itens{
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
            .botulinica-item{
                position: relative;
                width: 15rem;
                height: 18.5rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h2{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 5%;
                    width: 12.5rem;
                }
            }
        }
        a{
            margin: auto;
        }
    }
}
.hialuronico{
    width: 85%;
    margin: auto;
    padding-top: 13rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-bottom: 15rem;
    h1{
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700;
        letter-spacing: 5%;
        text-transform: uppercase;
    }
    .hialuronico-itens{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(5, 1fr);
        .hialuronico-item{
            position: relative;
            width: 40rem;
            height: 50rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
                line-height: 4rem;
                letter-spacing: 10%;
                color: $branco;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $articulat;
                text-align: center;
                width: 32rem;
            }
        }
        .first{
            grid-column: 1;
            grid-row: 1;
        }
        .second{
            grid-column: 2;
            grid-row: 1;
        }
        .third{
            grid-column: 3;
            grid-row: 1;
        }
        .fourth{
            grid-column: 2;
            grid-row: 2;
        }
        .fifth{
            grid-column: 3;
            grid-row: 2;
        }
        .sixth{
            grid-column: 1;
            grid-row: 3;
        }
        .seventh{
            grid-column: 2;
            grid-row: 3;
        }
        .eighth{
            grid-column: 1;
            grid-row: 4;
        }
        .ninth{
            grid-column: 2;
            grid-row: 4;
        }
        .tenth{
            grid-column: 3;
            grid-row: 4;
        }
        .eleventh{
            grid-column: 2;
            grid-row: 5;
        }
        .twelfth{
            grid-column: 3;
            grid-row: 5;
        }
    }
    a{
        margin: auto;
    }
    @media screen and (max-width: 700px){ 
        width: 85%;
        padding-top: 6rem;
        gap: 3.6rem;
        padding-bottom: 7rem;
        h1{
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 700;
            letter-spacing: 5%;
            text-transform: uppercase;
        }
        .hialuronico-itens{
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
            .hialuronico-item{
               position: relative;
                width: 15rem;
                height: 18.5rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h2{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 5%;
                    width: 13.5rem;
                }
            }
        }
        a{
            margin: auto;
        }
    }
}