---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/equipe.css"
---

<section class="card">
    <div class="voltar only-mobile">
        <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
    </div>
    <div class="left">
        <img src="../../img/equipe/barbara-card.png" alt="">
    </div>
    <div class="right" data-aos="fade-up" data-aos-duration="1000">
        <div class="voltar tablet-desktop">
            <h3>nossa equipe</h3>
            <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
        </div>
        <div class="nome">
            <h1>Dra. Bárbara Machado</h1>
            <h2>CRM: 52.116121-0 | RQE: 45253</h2>
        </div>
        <div class="info">
            <p>
                Médica graduada na Universidade do Grande Rio. <br/>
                Residência médica em dermatologia no Hospital Pedro Ernesto/ UERJ.<br/>
                Titulo de especialista em dermatologia pela Sociedade Brasileira de Dermatologia e Associação Médica Brasileira.
            </p>
        </div>
    </div>
</section>