---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/equipe.css"
---

{% include 'nav.njk' %}

<header>
    <img class="header-img only-desktop" src="../../img/equipe/header.webp" alt="">
    <img class="header-img mobile-tablet" src="../../img/equipe/header-mob.webp" alt="">
</header>

<section class="equipe">
    <h1 data-aos="fade">Nossa equipe</h1>
    <p>Profissionais experientes que entendem e valorizam todos os tipos de pele e gêneros.</p>
    <div class="wrap-equipe">
        <a class="equipe-item" href="/equipe/lidia">
            <img src="../../img/equipe/lidia.webp" alt="">
            <h3>Dra. Lídia Gusmão</h3>
            <h4>CRM: 52.81049-5 | RQE: 22118</h4>
        </a>
        <a class="equipe-item" href="/equipe/barbara">
            <img src="../../img/equipe/barbara.webp" alt="">
            <h3>dra. BÁRBARA MACHADO</h3>
            <h4>CRM: 52.116121-0 | RQE: 45253</h4>
        </a>
        <a class="equipe-item" href="/equipe/luiza">
            <img src="../../img/equipe/luiza.webp" alt="">
            <h3>dra. luiza fiszon</h3>
            <h4>CRM: 52.102796-4 | RQE: 31328</h4>
        </a>
        <a class="equipe-item" href="/equipe/juliana">
            <img src="../../img/equipe/juliana.webp" alt="">
            <h3>dra. juliana martins leal</h3>
            <h4>CRM: 52.90544-5 | RQE: 25039</h4>
        </a>
        <a class="equipe-item" href="/equipe/thayane">
            <img src="../../img/equipe/thayane.webp" alt="">
            <h3>dra. thayane lemos</h3>
            <h4>CRM: 52.116266-7 | RQE: 44681</h4>
        </a>
    </div>
</section>


{% include 'footer.njk' %}