---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/equipe.css"
---

<section class="card">
    <div class="left">
        <img src="../../img/equipe/juliana-card.png" alt="">
    </div>
    <div class="right" data-aos="fade-up" data-aos-duration="1000">
        <div class="voltar">
            <h3>nossa equipe</h3>
            <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
        </div>
        <div class="nome">
            <h1>Dra. Juliana Martins Leal</h1>
            <h2>CRM: 52.90544-5 | RQE: 25039</h2>
        </div>
        <div class="info">
            <p>Médica graduada pela Universidade Federal Fluminense – RJ.<br/>
                Pós-graduação médica em Dermatologia pela Universidade do Estado do Rio de Janeiro.<br/>
                Título de especialista em Dermatologia pela Sociedade Brasileira de Dermatologia. <br/>
                Membro da Sociedade Brasileira de Dermatologia. <br/>
                Preceptora do ambulatório de imunobiológicos de Dermatologia do Hospital Pedro Ernesto/UERJ.</p>
        </div>
    </div>
</section>