---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/equipe.css"
---

<section class="card">
    <div class="left">
        <img src="../../img/equipe/lidia-card.png" alt="">
    </div>
    <div class="right" data-aos="fade-up" data-aos-duration="1000">
        <div class="voltar">
            <h3>nossa equipe</h3>
            <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
        </div>
        <div class="nome">
            <h1>Dra. Lídia Gusmão</h1>
            <h2>CRM: 52.81049-5 | RQE: 22118</h2>
        </div>
        <div class="info">
            <p>Graduada em Medicina pela UFRJ (2006) e especialista em Dermatologia pela UERJ. <br/>
                Membro da Sociedade Brasileira de Dermatologia e da Sociedade Brasileira de Cirurgia Dermatológica.</p>
            <p>Preceptora da Residência Médica em Dermatologia do Hospital Universitário Pedro Ernesto/UERJ – Ambulatório de Cosmiatria. Atuou até 2016 como professora no Ambulatório de Cosmiatria da Santa Casa de Misericórdia do Rio de Janeiro.<br/>
                Em sua trajetória acadêmica, tanto na Santa Casa quanto na UERJ, selecionou criteriosamente sua equipe de trabalho.</p>
            <p>Participações recentes em cursos, congressos e workshops:</p>
            <ul>
                <li>73º Congresso da Sociedade Brasileira de Dermatologia – Curitiba, set/2018</li>
                <li>
                    Curso de Microinfusão de Medicamentos na Pele – jul/2018
                </li>
                <li>10º Teraderm – Terapêuticas Dermatológicas da SBD – São Paulo, jun/2018</li>
                <li>
                    Encontro Prático de Dermatologistas – Protocolo Sinclair de Abordagem Full Face (Fio Silhouette Soft) – Rio de Janeiro, mai/2018
                </li>
                <li>
                    30º Congresso Brasileiro de Cirurgia Dermatológica – Belo Horizonte, abr/2018
                </li>
                <li>
                    26th EADV – European Academy of Dermatology and Venerology – Genebra, set/2017
                </li>
                <li>
                    Curso de Preenchimento Avançado MD Codes Visionary – Dr. Maurício de Maio – Allergan Institute – São Paulo, mai/2017
                </li>
                <li>
                    29º Congresso Brasileiro de Cirurgia Dermatológica – Campos de Jordão, abr/2017
                </li>
                <li>
                    75º American Academy Annual Meeting – Orlando, mar/2017
                </li>
                <li>
                    71º Meeting Anual da Academia Americana de Dermatologia – Miami, mar/2016
                </li>
            </ul>
        </div>
    </div>
</section>