---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/equipe.css"
---

<section class="card">
    <div class="voltar only-mobile">
        <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
    </div>
    <div class="left">
        <img src="../../img/equipe/luiza-card.webp" alt="">
    </div>
    <div class="right" data-aos="fade-up" data-aos-duration="1000">
        <div class="voltar tablet-desktop">
            <h3>nossa equipe</h3>
            <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
        </div>
        <div class="nome">
            <h1>Dra. Luiza Fiszon</h1>
            <h2>CRM: 52.102796-4 | RQE: 31328</h2>
        </div>
        <div class="info">
            <p>Médica graduada pela Universidade Federal Fluminense (UFF) <br/>
                Especialização em dermatologia pela Universidade Federal do Rio de Janeiro (UFRJ)<br/>
                Título de especialista pela Sociedade Brasileira de Dermatologia e Associação Médica Brasileira. <br/>
                Observership no Beth Israel Deaconess Center/Harvard University <br/>
                Fellow em doenças dos cabelos e do couro cabeludo pelo Instituto de Dermatologia Professor Rubem David Azulay.</p>
        </div>
    </div>
</section>