---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/equipe.css"
---

<section class="card">
    <div class="left">
        <img src="../../img/equipe/thayane-card.png" alt="">
    </div>
    <div class="right" data-aos="fade-up" data-aos-duration="1000">
        <div class="voltar">
            <h3>nossa equipe</h3>
            <a href="/equipe">Voltar <img src="../../img/svg/x.svg" alt=""></a>
        </div>
        <div class="nome">
            <h1>Dra. Thayane Lemos</h1>
            <h2>CRM: 52.116266-7 | RQE: 44681</h2>
        </div>
        <div class="info">
            <p>Médica graduada pela Universidade do Estado do Rio de Janeiro (UERJ).<br/>
                Residência médica em Dermatologia pela Universidade do Estado do Rio de Janeiro. <br/>
                Título de especialista em Dermatologia pela Sociedade Brasileira de Dermatologia. <br/>
                Membro da Sociedade Brasileira de Dermatologia.<br/> 
                Fellowship em Doenças dos Cabelos e Couro Cabeludo pela Universidade do Estado do Rio de Janeiro.</p>
        </div>
    </div>
</section>