@use "./colors" as *;
@use "./global" as *;


.blueButton {
  background-color: $azul500;
  padding: 0;
  color: $branco;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 10%;
  transition: all 0.4s;
  border-radius: 25px;
  display: flex;
  padding: 1.6rem 2.6rem;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: fit-content;
  height: 5.5rem;
  @media screen and (max-width: 700px){
    padding: 1.2rem 0;
    font-size: 1.4rem;
    width: 20rem;
  }
}
.transparentButton {
  background-color: transparent;
  border: 1px solid $branco;
  color: $branco;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 8%;
  transition: filter 0.2s;
  border-radius: 25px;
  display: flex;
  padding: 1.6rem 3rem;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: fit-content;
  &:hover {
    filter: brightness(0.7);
  }
  @media screen and (max-width: 700px){
    padding: 1.2rem 0;
    font-size: 1.4rem;
    width: 20rem;
    gap: 6px;
    img{
      width: 4px;
  }
  }
}