$background: #f9eee1;
$background2: #cbb3a0;

$azul500: #334d7b;
$branco: #ffffff;
$gelo: #fcf4e8;
$marrom: #64453f;


$background3: #f5f1e9;

$amarelo: #fbd16d;
$azul100: #6bc3e8;
$azul300: #2572b5;
$gelo2:#eff1c6;
$laranja: #ee8b28;
$preto: #000000;
$rosa100: #f2afb1;
$rosa300: #e25197;
$roxo: #404093;
$verde100: #93cdae;
$verde300: #31a52f;
$vermelho: #e44d42;