$background: #f9eee1;
$background2: #cbb3a0;
$background3: #e2c9b9;

$azul500: #334d7b;
$branco: #ffffff;
$bege: #c1a18d;
$claro: #decbbb;
$escuro: #a08981;
$gelo: #fcf4e8;
$marrom: #64453f;
$preto: #000000;

