@use "./colors" as *;
@use "./global" as *;


footer {
  padding-top: 18rem;
  background-color: $background2;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-content{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7rem;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-footer{
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
      p{
        font-size: 2rem;
        line-height: 3rem;
        color: $marrom;
        letter-spacing: 5%;
      }
      .icons{
        display: flex;
        gap: 2rem;
        a{
          width: 5.2rem;
          img{
            width: 100%;
          }
        }
      }
    }
    a{
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-family: $jost;
      padding-bottom: 1rem;
    }
  }
  >a{
    font-size: 1.8rem;
    line-height: 2rem;
    color: $marrom;
    text-align: center;
    margin: auto;
  }
  @media screen and (max-width: 700px){
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
    .left-ball{
      top: 1.3rem;
      left: 1.3rem;
      width: .8rem;
    }
    .right-ball{
      top: 1.3rem;
      right: 1.3rem;
      width: .8rem;
    }
    .left{
      padding-left: 0;
      order: 2;
      width: 100%;
      img{
        width: 100%;
      }
    }
    .right{
      padding-right: 0rem;
      order: 1;
      justify-content: center;
      height: auto;
      align-items: center;
      gap: 2.5rem;
      .info-footer{
        align-items: center;
        p{
          font-size: 1.4rem;
          line-height: 2rem;
          text-align: center;
        }
        .icons{
          a{
            width: 2rem;
            img{
              width: 100%;
            }
          }
        }
      }
    }
    > a{
      order: 3;
      margin-top: 1rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}