@use "./colors" as *;
@use "./global" as *;


footer {
  padding-top: 18rem;
  background-color: $background2;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info-footer {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      p {
        font-size: 2rem;
        line-height: 3rem;
        color: $marrom;
        letter-spacing: 5%;
      }

      a {
        color: $marrom;
        font-size: 2rem;
      }

      .icons {
        display: flex;
        gap: 2rem;

        a {
          width: 5.2rem;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  >a {
    font-size: 1.8rem;
    line-height: 2rem;
    color: $marrom;
    text-align: center;
    margin: auto;
  }

  @media screen and (max-width: 700px) {
    padding-top: 6.8rem;
    padding-bottom: 3rem;
    align-items: center;

    .footer-content {
      width: 85%;
      margin: auto;
      flex-direction: column-reverse;
      padding-bottom: 4rem;
      align-items: flex-start;
      gap: 5rem;
    }

    .left {
      a {
        display: inline-block;
        width: 60%;

        img {
          width: 100%;
        }
      }
    }

    .right {
      .info-footer {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        p {
          font-size: 1.5rem;
          line-height: 2.1rem;
          letter-spacing: 2%;
        }

        a {
          font-size: 1.5rem;
        }

        .icons {
          display: flex;
          gap: 1.4rem;

          a {
            width: 2.6rem;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    >a {
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
  }
}