@use "./colors" as *;
@use "./global" as *;


.nav {
  position: absolute;
  display: flex;
  height: 12rem;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  z-index: 999;
  background: transparent;
  padding-left: 7%;
  padding-right: 7%;
  justify-content: space-between;
  transition: 0.5s;
  top: 5rem;
  .nav-right{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: flex-end;
    ul{
      display: flex;
      align-items: center;
      gap: 6rem;
      background-color: #64453F0D;
      padding: 1rem 3rem;
      li{
        a{
          font-size: 2rem;
          color: $branco;
          letter-spacing: 8%;
          font-weight: 400;
        }
      }
    }
  }


  @media screen and (max-width: 700px) {
    height: 12rem;
    padding-left: 5%;
    .nav-right{
      padding-right: 5%;
    }
    .hamburger{
      .abrir{
        font-size: 1.4rem;
      }
      .fechar{
        display: none;
      }
    }
    .banner-img {
      width: 8rem;
    }

    label input:checked {
      height: 100vh;
    }

    label input:checked + .menu .hamburger {
      .fechar{
        width: 2rem;
      }
    }
    label input:checked + .menu + ul {
      top: 0rem;
      width: 50vw;
      right: 0;
      padding-top: 9vh;
      padding-left: 2rem;
      padding-bottom: 3vh;
      gap: unset;
      justify-content: space-between;
      .icons{
        display: flex;
        gap: 1.6rem;
        img{
          height: 2rem;
        }
      }
      p{
        margin-top: 3vh;
        font-size: 1.2rem;
      }
    }

    label ul {
      top: 50%;
      left: 50%;
      height: 60vh;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        a {
          font-size: 1.3rem;
        }
      }
    }

  }
  @media screen and (min-width: 701px) and (max-width: 1260px) {
    height: 16rem;
    .banner-img {
      width: 12rem;
    }
    .nav-right{
      padding-right: 5%;
    }
    .hamburger{
      .abrir{
        font-size: 2rem;
      }
      .fechar{
        display: none;
      }
    }

    label input:checked {
      height: 80vh;
    }

    label input:checked + .menu .hamburger {
      .fechar{
        width: 3rem;
      }
    }

    label input:checked + .menu + ul {
      top: 0rem;
      width: 50vw;
      right: 0;
      padding-top: 7vh;
      gap: 1.5vh;
      .icons{
        display: flex;
        gap: 1.6rem;
        img{
          height: 2rem;
        }
      }
      p{
        margin-top: 2vh;
        font-size: 1.6rem;
      }
    }

    label ul {
      top: 50%;
      left: 50%;
      height: 60vh;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        padding-bottom: 1rem;
        padding-top: 1rem;

        a {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.nav2 {
  position: relative;
  display: flex;
  height: 15rem;
  align-items: center;
  width: 100%;
  margin: auto;
  z-index: 999;
  background: $roxo;
  padding-left: 7%;
  transition: 0.5s;
  .logo{
    position: absolute;
    left: 7%;
    bottom: -50%
  }
  .nav-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 7%;
    width: 100vw;
  }
  .hamburger{
    .abrir{
      font-size: 2.4rem;
      color: $branco;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 12%;
    }
    .fechar{
      display: none;
    }
  }
  label .menu {
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }

  label input {
    display: none;
  }

  label input:checked {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    padding-left: 0;
    top: -7.8rem;
  }
  label input:checked + .menu .hamburger {
    .abrir{
      display: none;
    }
    .fechar{
      display: initial;
      width: 4rem;
      animation: appear 0.5s ease-in;
    }
  }
  label input:checked + .menu + ul {
    opacity: 1;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: -0.2rem;
    gap: 3vh;
    right: 0;
    background-color: $background;
    padding-left: 5rem;
    padding-top: 20vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 0px 20px;
    >img{
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
    .icons{
      display: flex;
      gap: 1.6rem;
      img{
        height: 3rem;
      }
    }
    p{
      margin-top: 15vh;
    }
  }

  label ul {
    z-index: 200;
    position: absolute;
    left: 50%;
    height: 100vh;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: none;
    animation: appear 0.5s ease-in;
  }

  ul {
    gap: 0;

    li {
      position: relative;
      a {
        font-weight: 700;
        font-size: 3rem;
        line-height: 100%;
        color: $preto;
        letter-spacing: 2%;
      }
    }
  }

  @media screen and (max-width: 700px) {
    height: 6rem;
    display: flex;
    padding-left: 5%;
    .logo{
      left: 5%;
      bottom: 0;
      top: 1.8rem;
      img{
        width: 8rem;
      }
    }
    .nav-right{
      padding-right: 5%;
    }
    .hamburger{
      .abrir{
        font-size: 1.4rem;
      }
      .fechar{
        display: none;
      }
    }
    label input:checked {
      height: 100vh;
    }

    label input:checked + .menu .hamburger {
      .fechar{
        width: 2rem;
      }
    }
    label input:checked + .menu + ul {
      top: 0rem;
      width: 50vw;
      right: 0;
      padding-top: 9vh;
      padding-left: 2rem;
      padding-bottom: 0em;
      gap: 3vh;
      .icons{
        display: flex;
        gap: 1.6rem;
        img{
          height: 2rem;
        }
      }
      p{
        margin-top: 4vh;
        font-size: 1.2rem;
      }
    }

    label ul {
      top: 50%;
      left: 50%;
      height: 60vh;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        a {
          font-size: 1.3rem;
        }
      }
    }

  }
  @media screen and (min-width: 701px) and (max-width: 1260px) {
    height: 16rem;
    .banner-img {
      width: 12rem;
    }
    .nav-right{
      padding-right: 5%;
    }
    .hamburger{
      .abrir{
        font-size: 2rem;
      }
      .fechar{
        display: none;
      }
    }

    label input:checked {
      height: 80vh;
    }

    label input:checked + .menu .hamburger {
      .fechar{
        width: 3rem;
      }
    }

    label input:checked + .menu + ul {
      top: 0rem;
      width: 50vw;
      right: 0;
      padding-top: 7vh;
      gap: 1.5vh;
      .icons{
        display: flex;
        gap: 1.6rem;
        img{
          height: 2rem;
        }
      }
      p{
        margin-top: 2vh;
        font-size: 1.6rem;
      }
    }

    label ul {
      top: 50%;
      left: 50%;
      height: 60vh;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        padding-bottom: 1rem;
        padding-top: 1rem;

        a {
          font-size: 1.8rem;
        }
      }
    }
  }
}



