---
permalink: /404.html
eleventyExcludeFromCollections: true
layout: base.njk  
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<body>
    <h1>404</h1>
    <p>Ops! A página que você procura não existe.</p>
    <a href="/">Voltar para a página inicial</a>
</body>

{% include 'footer.njk' %}
