---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/hialuronico.css"
---

{% include 'nav3.njk' %}
<header>
    <div class="header-title">
        <img src="../img/cosmiatria/cosmiatria-header.svg" alt="">
        <h1>cosmiatria</h1>
    </div>
    <h2>injetáveis</h2>
</header>

<section class="select-itens swiper">
    <h1>Ácido Hialurônico</h1>
    <div class="selector-circles swiper-wrapper">
            <div class="selected swiper-slide" id="labios">
                <img src="../img/hialuronico/labios.png" alt="">
                <h3>lábios</h3>
            </div>
            <div class="swiper-slide" id="nariz">
                <img src="../img/hialuronico/nariz.png" alt="">
                <h3>Nariz</h3>
            </div>
            <div class="swiper-slide no-info" id="sulco">
                <img src="../img/hialuronico/sulco.png" alt="">
                <h3>Sulco Nasogeniano</h3>
            </div>
            <div class="swiper-slide" id="malar">
                <img src="../img/hialuronico/malar.png" alt="">
                <h3>Malar e maçãs do rosto</h3>
            </div>
            <div class="swiper-slide" id="mandibula">
                <img src="../img/hialuronico/mandibula.png" alt="">
                <h3>Mandíbula e contorno facial</h3>
            </div>
            <div class="swiper-slide" id="queixo">
                <img src="../img/hialuronico/queixo.png" alt="">
                <h3>Queixo</h3>
            </div>
            <div class="swiper-slide" id="olheiras">
                <img src="../img/hialuronico/olheiras.png" alt="">
                <h3>Olheiras</h3>
            </div>
            <div class="swiper-slide" id="skin">
                <img src="../img/hialuronico/skin.png" alt="">
                <h3>Skinboosters  Skinvive</h3>
            </div>
            <div class="swiper-slide" id="intimo">
                <img src="../img/hialuronico/intimo.png" alt="">
                <h3>Íntimo</h3>
            </div>
            <div class="swiper-slide" id="full">
                <img src="../img/hialuronico/full.png" alt="">
                <h3>Full face</h3>
            </div>
            <div class="swiper-slide no-info" id="corporal">
                <img src="../img/hialuronico/corporal.png" alt="">
                <h3>Corporal</h3>
            </div>
            <div class="swiper-slide" id="maos">
                <img src="../img/hialuronico/maos.png" alt="">
                <h3>Mãos</h3>
            </div>    
    </div>
</section>

<h1 id="changeTitle">Preenchimento de lábios</h1>

<div class="wrap-content">
    <!-- Não alterar essa parte -->
<aside class="left-table">
    <div class="table-itens">
        <a href="/injetaveis">
            <p>Injetáveis</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
        <a href="/bioestimuladores">
            <p>Bioestimuladores</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
        <a href="/bioremodeladores" class="no-info">
            <p>Bioremodeladores</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
        <a href="/cosmiatria/?selection=fios">
            <p>Fios de PDO</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
        <a href="/cosmiatria/?selection=ipca">
            <p>IPCA (Microagulhamento)</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
        <a href="/cosmiatria/?selection=mmp" class="no-info">
            <p>MMP Facial</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
        <a href="/cosmiatria/?selection=peelings">
            <p>Peelings</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </a>
    </div>
    <a href="/tratamentos" class="blueButton"> 
        <img src="../img/flecha-voltar.png" alt="">
        <p>ver todos os tratamentos</p>
    </a>
</aside>

<section class="content" id="content">
    <div class="right-content">
        <img src="../img/hialuronico/maos-section.png" alt="">
        <div class="info-text">
            <h2>
                O que é o Preenchimento das Mãos?
            </h2>
            <p>
                A pele das mãos é mais fina e delicada que o restante do corpo e mais exposta a fatores como sol, vento e  produtos de limpeza, e nem sempre recebe a atenção que merece. Em alguns casos, elas até parecem envelhecer mais rápido que o restante do corpo.
            </p>
            <p>
                Com o passar dos anos, o processo de envelhecimento das mãos se dá por duas causas principais: mudanças na superfície – de textura – e perda de volume. A mudança de textura se caracteriza por alterações na pigmentação da pele, com o surgimento de manchas. A pele fica também mais fina, com aspecto apergaminhado e também aparecem pequenas rugas. A perda de volume ocorre por diminuição do tecido celular subcutâneo e, consequentemente, as mãos parecem mais magrinhas, com maior visibilidade das veias e tendões.
            </p>
            <h2>
                Como podemos repor o volume perdido nas mãos?
            </h2>
            <p>
                Os preenchedores dérmicos são uma opção viável para a reposição do volume perdido no dorso das mãos. Podem ser utilizados os preenchedores à base de ácido hialurônico, com a capacidade de “engordar” as mãos mais magras. Pode ser também utilizado o ácido polilático (Sculptra) para estímulo à produção de colágeno e melhora de pequenas rugas.
            </p>
            <h2>
                Como podemos tratar a superfície da pele das mãos?
            </h2>
            <p>
                Todos os tratamentos clareadores, como peelings, lasers e Luz Intensa Pulsada podem também ser feitos nas mãos. Outra opção para melhorar a hidratação dessa pele fina é a hidratação injetável, feita através dos Skinboosters.
            </p>
            <h2>
                Qual o tratamento mais completo para as mãos?
            </h2>
            <p>
                Uma substância muito completa para o tratamento das mãos é a hidroxiapatita de cálcio (Radiesse). O Radiesse é utilizado para preencher diversas áreas, dentre elas as mãos. Além de preencher os sulcos entre os tendões e veias, ele também estimula a produção de colágeno, contribuindo também para o rejuvenescimento da área de aplicação. Ou seja, esse procedimento atua simultaneamente nas duas causas de envelhecimento das mãos, tanto na superfície da pele, quanto na perda de volume. Após três semanas, pode-se perceber mãos bem mais jovens, com viço e melhora do aspecto geral da pele.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
</section>
</div>

{% include 'footer.njk' %}

<!-- Script que altera as paginas -->

<script>
  const section = document.getElementById("content");
  const urlParams = new URLSearchParams(window.location.search);
  let selected = urlParams.get("selection");
  let padrao = "labios"
  const title = document.getElementById("changeTitle")

 window.onload = () => {
    if (selected) {
      selectById(selected);
    } else {
      selectById(padrao);
    }
};

  // Função para resetar a seleção
  function resetSelection() {
    const items = document.querySelectorAll(".selected");
    items.forEach((item) => item.classList.remove("selected"));
  }

  // Função para atualizar a seleção
  const labios = document.getElementById("labios");
  labios.addEventListener("click", () => {
    resetSelection();
    selected = "labios";
    labios.classList.add("selected");
    updateSection();
  });

  const nariz = document.getElementById("nariz");
  nariz.addEventListener("click", () => {
    resetSelection();
    selected = "nariz";
    nariz.classList.add("selected");
    updateSection();
  });

  const sulco = document.getElementById("sulco");
  sulco.addEventListener("click", () => {
    resetSelection();
    selected = "sulco";
    sulco.classList.add("selected");
    updateSection();
  });

  const malar = document.getElementById("malar");
  malar.addEventListener("click", () => {
    resetSelection();
    selected = "malar";
    malar.classList.add("selected");
    updateSection();
  });

  const mandibula = document.getElementById("mandibula");
  mandibula.addEventListener("click", () => {
    resetSelection();
    selected = "mandibula";
    mandibula.classList.add("selected");
    updateSection();
  });

  const queixo = document.getElementById("queixo");
  queixo.addEventListener("click", () => {
    resetSelection();
    selected = "queixo";
    queixo.classList.add("selected");
    updateSection();
  });

  const olheiras = document.getElementById("olheiras");
  olheiras.addEventListener("click", () => {
    resetSelection();
    selected = "olheiras";
    olheiras.classList.add("selected");
    updateSection();
  });

  const skin = document.getElementById("skin");
  skin.addEventListener("click", () => {
    resetSelection();
    selected = "skin";
    skin.classList.add("selected");
    updateSection();
  });

  const intimo = document.getElementById("intimo");
  intimo.addEventListener("click", () => {
    resetSelection();
    selected = "intimo";
    intimo.classList.add("selected");
    updateSection();
  });

  const full = document.getElementById("full");
  full.addEventListener("click", () => {
    resetSelection();
    selected = "full";
    full.classList.add("selected");
    updateSection();
  });

  const corporal = document.getElementById("corporal");
  corporal.addEventListener("click", () => {
    resetSelection();
    selected = "corporal";
    corporal.classList.add("selected");
    updateSection();
  });

  const maos = document.getElementById("maos");
  maos.addEventListener("click", () => {
    resetSelection();
    selected = "maos";
    maos.classList.add("selected");
    updateSection();
  });



  function selectById(id) {
    resetSelection();
    selected = id;
    const element = document.getElementById(id);
    if (element) {
      element.classList.add("selected");
      updateSection();
    }
  }

  // Função para atualizar o conteúdo da seção
  function updateSection() {
    switch (selected) {
      case "labios":
        title.innerText = "Preenchimento de Lábios"
        section.innerHTML = `
<div class="right-content">
        <img src="../img/hialuronico/labios-section.png" alt="">
        <div class="info-text">
            <h2>
                Preenchimento Labial: Beleza com Harmonia e Naturalidade
            </h2>
            <p>
                O preenchimento labial é um tratamento consagrado que utiliza o ácido hialurônico para realçar a beleza dos lábios. Embora muitas pessoas o associam apenas ao aumento de volume, ele também é indicado para projetar os lábios, corrigir assimetrias e melhorar a proporção entre o lábio superior e o inferior.
            </p>
            <p>
                Apesar da popularidade, ainda existe certo receio em relação ao procedimento. No entanto, ao contrário do que muitas vezes se vê na mídia, o preenchimento não precisa ser exagerado. Ele pode — e deve — ser feito de forma sutil, com resultados discretos e naturais.
            </p>
            <p>
                Além de dar volume, o ácido hialurônico pode ser usado para:
            </p>
            <ul>
                <li>
                    Destacar o arco do cupido (o "coraçãozinho" central dos lábios);
                </li>
                <li>
                    Suavizar as rugas periorais, conhecidas como “código de barras”, que surgem com a idade e com o movimento repetitivo de franzir os lábios ao longo da vida.
                </li>
            </ul>
            <h2>
                Novidade: Preenchimento com Efeito Gloss
            </h2>
            <p>
                Uma técnica mais recente e muito procurada é o efeito gloss, que não tem como foco o volume, mas sim a hidratação, o viço e o brilho dos lábios. Nessa abordagem, são utilizados skinboosters, produtos específicos para hidratação injetável, proporcionando um aspecto saudável e naturalmente bonito.
            </p>
            <h2>
                Como é feito o procedimento?
            </h2>
            <p>
                O preenchimento labial é realizado em consultório por um dermatologista, com duração média de 30 minutos. A dor é geralmente leve a moderada, e utilizamos anestésicos tópicos para garantir o conforto do paciente.
            </p>
            <h2>
                Cuidados após o procedimento:
            </h2>
            <ul>
                <li>
                    Pode haver inchaço leve, que tende a regredir em alguns dias. Compressas geladas ajudam no alívio.
                </li>
                <li>
                    Pequenos hematomas podem surgir, mas costumam desaparecer em até 7 dias.
                </li>
                <li>
                    É permitido usar batom e corretivo após a aplicação.
                </li>
                <li>
                    Pacientes com histórico de herpes labial devem avisar o dermatologista previamente, pois pode ser indicado o uso preventivo de medicação antiviral.
                </li>
            </ul>
            <h2>
                Quando o resultado aparece?
            </h2>
            <p>
                Os resultados são visíveis imediatamente após a aplicação, mas o efeito final é melhor observado após a redução do inchaço. A duração média do preenchimento é de 8 a 12 meses, podendo variar conforme o organismo e os cuidados individuais.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
  `
  ;
        break;
      case "nariz":
        title.innerText = "Nariz"
        section.innerHTML = `
            <div class="right-content">
        <img src="../img/hialuronico/nariz-section.png" alt="">
        <div class="info-text">
            <p>
                O nariz é um órgão central na face e por isso possui papel estético de destaque. Em vista disso, pequenos detalhes no desenho como a pontinha caída ou aquela “giba” no dorso nasal costumam gerar incômodo em quem os têm. Muitas vezes, os pacientes estão incomodados, mas não sabem que essas pequenas características podem ser tratadas sem necessidade de grandes cirurgias.
            </p>
            <p>
                Um procedimento simples e cujos resultados deixam os pacientes imediatamente satisfeitos é o preenchimento com ácido hialurônico. A aplicação é realizada no consultório do dermatologista, com anestesia local, em cremes, e o resultado é imediato e muito natural.
            </p>
            <p>
                O preenchimento nasal com ácido hialurônico é como se fosse uma verdadeira “escultura”. Com a aplicação de pequenas quantidades de ácido hialurônico e bem aos poucos, vai-se moldando o contorno do nariz para ele ficar mais harmônico para cada tipo de face ou expectativa do paciente.
            </p>
            <p>
                O que costumamos tratar com ácido hialurônico são geralmente pequenos detalhes, mas que muitas vezes incomodam, como a ponta, desvios no dorso nasal ou giba nasal.  Este procedimento também pode ser utilizado para corrigir um procedimento cirúrgico prévio em que o resultado obtido não tenha sido oesperado.
            </p>
            <p>
                Muitas pessoas têm a impressão de que ao se adicionar o gel de ácido hialurônico nesse procedimento, estaremos acrescentando volume ao nariz. Mas podemos fazer uma analogia ao raciocínio de um maquiador profissional, por exemplo, que destaca áreas a serem realçadas com iluminadores e esconde com maquiagens mais escuras as laterais, para que pareçam mais finas. E é isso que fazemos: uma espécie de escultura, projetando áreas que queremos realçar, como a ponta, por exemplo, e escondendo o que queremos que suavize, como a giba.
            </p>
            <p>
                O efeito do ácido hialurônico dura cerca de um ano, pois o produto vai sendo reabsorvido pelo organismo, podendo ser repetido sempre que necessário.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
`;
        break;
      case "sulco":
        title.innerText = "Sulco Nasogeniano"
        section.innerHTML = `
             <div class="right-content">
        <img src="../img/hialuronico/sulco-section.png" alt="">
        <div class="info-text">

        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
        `;
        break;
      case "malar":
        title.innerText = "Malar - top model look"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/hialuronico/malar-section.png" alt="">
        <div class="info-text">
            <p>
                O preenchimento das maçãs do rosto (terço médio da face, malar ou região zigomática) não é tão conhecido, mas, sem dúvida, é um dos mais importantes, senão o mais importante de todos os preenchimentos. Atualmente, já sabemos que essa região da face é a principal responsável pela sustentação do rosto e uma das primeiras a se modificar com o processo do envelhecimento, levando a sensação de “derretimento” da face.
            </p>
            <p>
                Com o avançar da idade, o terço médio tende a perder volume, seja por perda de tecido muscular, gorduroso e ósseo. Além disso, com a diminuição da produção de colágeno e consequente flacidez, ele tende a ceder, dando aparência de “bochecha caída”. Com a perda da sustentação dessa área, vai ocorrendo a queda do restante das estruturas da face, com a formação do “bigode chinês” e ” sulco da marionete”.
            </p>
            <p>
                É muito comum, no consultório dos dermatologistas, os pacientes se queixarem do sulco nasogeniano (bigode chinês) e solicitarem o preenchimento dessa área. É fundamental, porém se atentarem que, muitas vezes, sem ser feita a sustentação da região malar, quando ela já foi perdida, não adianta nada o preenchimento do sulco. Esse exemplo também ocorre com as “olheiras”. Muitas pacientes que pedem o preenchimento das olheiras, na verdade perderam a sustentação da sua base, a região malar, e precisam em primeiro lugar, preencher essa região. Como já dito anteriormente, essa área é quase sempre a mais importante.
            </p>
            <p>
                Algumas pessoas, mesmo jovens, não têm essa região malar destacada, por uma característica natural, por terem baixo índice de gordura corporal (como, por exemplo, nos maratonistas ou pessoas que se exercitam muito) ou porque emagreceram de forma muito rápida.
            </p>
            <p>
                O preenchimento da região do arco zigomático, a maçã do rosto ou “linha do blush” costuma ser uma das primeiras etapas no programa de preenchimento facial e promove um resultado incrível e muito natural. Este procedimento pode ajudar também a dar uma sensação de rosto mais magro e feminino ao criar um efeito de sombra na linha da bochecha, além de trazer de volta o volume que foi perdido com o passar dos anos.
            </p>
            <p>
                O efeito lindo desse preenchimento que lembra o rosto das top models foi o que o levou a ficar conhecido como “top model look”
            </p>

        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "mandibula":
        title.innerText = "Mandíbula e Contorno facial"
        section.innerHTML = `
                <div class="right-content">
        <img src="../img/hialuronico/mandibula-section.png" alt="">
        <div class="info-text">
            <p>
                Sabemos que quando o assunto é embelezamento da face, muitos fatores importam como a qualidade da pele, volume dos lábios e suavização das linhas de expressão. Porém, devemos nos atentar a outros aspectos como, por exemplo, o terço inferior da face e a proporção entre as diferentes áreas faciais. O terço inferior do rosto compreende a área facial que vai do nariz até o queixo. Uma das formas de se ressaltar a beleza dessa região é com o preenchimento da mandíbula e contorno facial. O preenchimento do contorno da face consiste na aplicação do ácido hialurônico na região inferior do rosto, ao longo do arco da mandíbula.
            </p>
            <p>
                Esse tratamento tem como objetivo definir melhor o contorno do rosto, tornando-o mais jovem e mais harmônico. Ao criar uma melhor estrutura do terço inferior da face, aumentamos também a sustentação do terço médio, onde encontram-se as bochechas (região malar), o que gera sustentação e previne a indesejada “bochecha caída”. Esse tratamento pode ser realizado tanto em mulheres, quanto em homens. Porém, sempre realçamos pontos diferentes em diferentes pacientes, de acordo com as características que querem marcar. Nos homens que desejam tornar o rosto mais masculino, conseguimos conferir um ângulo da mandíbula mais demarcado, quadrado, já nas mulheres costumamos fazer um tratamento mais delicado para esta área.
            </p>
            <p>
                Considera-se esse tratamento seguro, além de ter a vantagem de ser reversível. Após o procedimento, o paciente pode voltar às suas atividades imediatamente. A quantidade de produto a ser utilizada dependerá da avaliação individual de cada paciente. Uma vez realizado, o preenchimento com ácido hialurônico costuma durar cerca de 12 a 18 meses.
            </p>
            <p>
                A indicação principal do preenchimento do contorno facial e da mandíbula é o tratamento de pacientes que tenham essa região pouco demarcada, com rosto muito alongado e pouca definição entre o rosto e o pescoço, muitas vezes parecendo inclusive mais flácido. A necessidade desse preenchimento deverá ser avaliada individualmente, assim como a quantidade de ácido hialurônico indicada. Por fim ressalto que esse procedimento deve ser realizado por um profissional que valorize a beleza individual de cada paciente, prezando pela naturalidade e pelo equilíbrio entre as diferentes áreas da face.
            </p>


        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div> 
            `;
        break;
      case "queixo":
        title.innerText = "Mento (Queixo)"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/hialuronico/queixo-section.png" alt="">
        <div class="info-text">
            <p>
                Algumas pessoas possuem o queixo um pouco retraído ou pequeno, o que pode gerar uma impressão de que o nariz é desproporcional à face ou de que o contorno facial não está harmônico. Apesar de ser indicado em alguns casos a realização de cirurgia bucomaxilofacial, muitas vezes o preenchimento do mento/queixo melhora, e muito, a aparência facial sem a necessidade de abordagem cirúrgica invasiva. Sabemos que tal cirurgia tem recuperação lenta, o que faz com que muitos não estejam dispostos a enfrentá-la por estética.
            </p>
            <p>
                Com o uso de preenchedores de ácido hialurônico, pode-se dar volume, aumentar a largura, melhorar a projeção ou alongar o queixo. Além disso, é possível reposicionar o queixo naquelas pessoas em que ele é rodado para dentro, o que causa grande melhora da aparência e rejuvenescimento.
            </p>
            <p>
                O preenchimento do mento com substâncias volumizadoras a base de ácido hialurônico é considerado seguro e é realizado no consultório com anestesia tópica. Costuma-se utilizar produtos com maior densidade para melhores resultados. O procedimento pode ser realizado tanto em mulheres, quanto em homens, porém, a escolha do local exato da injeção dos produtos e a quantidade aplicada deve ser individualizada, uma vez que sempre levamos em conta as particularidades de cada face.
            </p>
            <p>
                Com o preenchimento do queixo conseguimos ainda dar feminilidade ou masculinidade à face. Homens frequentemente buscam esse procedimento para alargar o mento, tornando o rosto mais masculino e as mulheres que desejam um rosto mais feminino conseguem deixa-lo mais afilado ou com aspecto de mais magro. Após a realização do procedimento o paciente pode voltar às suas atividades habituais e a duração média dos resultados é de 12 a 18 meses, podendo ser repetido com segurança até mesmo antes desse período.
            </p>
            <p>
                O tratamento com ácido hialurônico da região do mento tem grande impacto positivo na harmonia global da face, deixando-a mais bela porém com sutileza e discrição. Conseguimos bons resultados com pequenas alterações no queixo. Nem sempre são necessárias grandes alterações.
            </p>
            <p>
                Vale lembrar que o ácido hialurônico é compatível com nosso organismo, sendo portanto reabsorvido lentamente pelo mesmo. A reversibilidade e a boa adaptação do material aos tecidos faz com que seja um procedimento extremamente seguro.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "olheiras":
        title.innerText = "Olheiras"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/hialuronico/olheiras-section.png" alt="">
        <div class="info-text">
            <h2>
                O que é o Tratamento para Olheiras?
            </h2>
            <p>
                Ninguém quer ter um rosto com aspecto cansado e as olheiras podem fazer toda a diferença nessa aparência descansada ou não. Muitas vezes, mesmo com muito corretivo e maquiagem, elas continuam lá.
            </p>
            <p>
                Aqui na clínica temos diversas opções de tratamento. Após uma avaliação médica, direcionamos o paciente para a opção de tratamento mais indicada para cada caso. É muito importante entendermos que as olheiras são multifatoriais e elas devem ser classificadas em seus subtipos:
            </p>
            <h2>
                Olheiras com cor escura
            </h2>
            <p>
                Geralmente esse tipo de olheiras tem origem genética ou aparece após inflamação no local. A cor escura é decorrente do excesso de melanina (o pigmento que dá a cor e o bronzeamento à pele). O tratamento de olheiras desse tipo se dá com clareadores usados em casa, lasers e peelings químicos específicos para olheiras.
            </p>
            <h2>
                Olheiras com cor arroxeada
            </h2>
            <p>
                Aparecem pelo afinamento dos tecidos das pálpebras (redução de colágeno e gordura), deixando aparecer, por transparência, a cor arroxeada das veias e músculos. Nesse caso, o tratamento é bem difícil, podendo ser  empregados alguns lasers para tratamento vascular.
            </p>
            <h2>
                Olheiras causadas por olhos fundos
            </h2>
            <p>
                Esse tipo de olheira é decorrente da falta de tecido (gordura e colágeno) na pálpebra, causando um “degrau” entre a pálpebra e a bochecha. Muitas vezes também, a parte mais funda está localizada abaixo das bolsas das pálpebras, causando também um “degrau” após as bolsas de gordura. Essas olheiras fundas, devido ao efeito de sombra no local, parecem ainda mais escuras, mesmo não havendo pigmento propriamente dito na olheira e só de se tratar a profundidade, as olheiras parecem mais claras.  
            </p>
            <p>
                Muitas vezes não conseguimos disfarçar as olheiras de jeito nenhum, mesmo com muita maquiagem, principalmente quando são fundas. E pra isso não há creme nem maquiagem que dê jeito. Nestes casos, o tratamento mais indicado é o preenchimento com ácido hialurônico. Este procedimento irá “nivelar” a pele, diminuindo o aspecto fundo, cansado.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "skin":
        title.innerText = "Skinboosters / Skinvive"
        section.innerHTML = `
             <div class="right-content">
        <img src="../img/hialuronico/skin-section.png" alt="">
        <div class="info-text">
            <h2>
                O que é a Hidratação Injetável (SkinBoosters)? 
            </h2>
            <p>
                A pele jovem é uniforme, firme e elástica, pois é constituída por 60% de água e por ácido hialurônico, composto natural que preenche o espaço entre as células. Sabemos que o processo de envelhecimento acarreta perda de água e de ácido hialurônico, resultando em perda da viscosidade, enrugamento e flacidez. Dizemos que a molécula de ácido hialurônico tem uma capacidade higroscópica, ou seja, tem uma elevada capacidade de retenção de água. Desta característica vem a alta capacidade dos Skinboosters em hidratar a pele.
            </p>
            <p>
                Os preenchedores de ácido hialurônico da família dos SkinBoosters são produtos para hidratação injetável, ou seja, que hidratam profundamente a pele à medida que “puxam” água para suas camadas mais profundas. Ao contrário dos outros preenchedores de ácido hialurônico usados para devolver volume a algumas regiões, eles não dão nenhum volume, apenas rejuvenescem a pele, suavizam rugas finas e trazem de volta o viço perdido com o passar dos anos.
            </p>
            <h2>
                Onde os Skinboosters podem ser aplicados?
            </h2>
            <ul>
                <li>
                    Rugas finas do colo (que pioram com o hábito de dormir de lado);
                </li>
                <li>
                    Rugas finas no pescoço;
                </li>
                <li>
                    Lábios para devolver a hidratação natural;
                </li>
                <li>
                    Ao redor dos olhos;
                </li>
                <li>
                    Mãos;
                </li>
                <li>
                    Rugas finas da testa e qualquer área da face.
                </li>
            </ul>
            <p>
                Essa técnica é feita no consultório do dermatologista, após aplicação de creme anestésico. É muito bem tolerada e os pacientes podem voltar às suas atividades diárias imediatamente, somente tomando cuidado com a exposição solar caso tenha ficado alguma pequena manchinha roxa.
            </p>
            <h2>
                Quantas sessões são necessárias?
            </h2>
            <p>
                O número de sessões necessárias dependerá da resposta individual de cada paciente bem como da área a ser tratada. Em média, são recomendadas duas a três sessões, com intervalo mensal entre elas.
            </p>
            <h2>
                Quando é esperado que o resultado apareça?
            </h2>
            <p>
                Como o resultado depende da retenção de água pelas moléculas de ácido hialurônico, o resultado leva cerca de três semanas após a aplicação para se tornar visível.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "intimo":
        title.innerText = "Rejuvenescimento Íntimo"
        section.innerHTML = `
              <div class="right-content">
        <img src="../img/hialuronico/intimo-section.png" alt="">
        <div class="info-text">
            <h2>
                O que é o Rejuvenescimento Íntimo?
            </h2>
            <p>
                A região genital feminina sofre modificações relacionadas à evolução natural do amadurecimento e do próprio envelhecimento. Associado a isso, fatores extras como gravidez, obesidade, nutrição, tabagismo e até a constituição genética podem resultar em um agravamento desse processo.
            </p>
            <p>
                Tais mudanças podem levar à flacidez da região vulvar, ressecamento genital, perda da sensibilidade sexual, redução da libido e até mesmo dor e falta de lubrificação durante a relação sexual. Muitas mulheres hoje em dia têm essas queixas mas não sabem que tipo de profissional médico buscar.
            </p>
            <p>
                Outras apenas gostariam de melhorar a flacidez vaginal, deixando a pele mais rosada e jovem. A novidade é que se pode fazer isso tudo sem cirurgia com os tratamentos de rejuvenescimento íntimo, que renovam a autoestima e ampliam a satisfação sexual. Atualmente alguns dermatologistas dispõem de métodos modernos e eficazes em consultório que podem rejuvenescer a região genital.
            </p>
            <h2>
                O que podemos obter de resultados com as técnicas de rejuvenescimento íntimo?
            </h2>
            <ul>
                <li>
                    Melhora da flacidez dos grandes lábios;
                </li>
                <li>
                    Recuperação do volume dos grandes lábios;
                </li>
                <li>
                    Diminuição da aparência dos pequenos lábios;
                </li>
                <li>
                    Melhora do tônus (força muscular e elasticidade) vaginal e consequentemente melhora da libido;
                </li>
                <li>
                    Clareamendo das regiões vulvar/inguinal e perianal;
                </li>
                <li>
                    Melhora do aspecto e textura da pele vulvar;
                </li>
                <li>
                    Melhora da sudorese da região genital;
                </li>
                <li>
                    Melhora da incontinência urinária de esforço;
                </li>
                <li>
                    Melhora da lubrificação genital.
                </li>
            </ul>
            <p>
                Com intervenções minimamente invasivas, é possível remodelar e rejuvenescer a região genital da paciente, devolvendo-lhe suas características estéticas e funcionais.
            </p>
            <h2>
                Quais são os procedimentos estéticos mais comumente realizados nesta região?
            </h2>
            <ul>
                <li>
                    Peelings químicos íntimos;
                </li>
                <li>
                    Aplicação de ácido poliláctico para estímulo de colágeno;
                </li>
                <li>
                    Preenchimento com ácido hialurônico dos grandes lábios e púbis;
                </li>
                <li>
                    Aplicação de toxina botulínica para hiperidrose;
                </li>
            </ul>
            <p>
                Os procedimentos são seguros, feitos no próprio consultório do dermatologista, praticamente indolores e permitem à mulher retornar à sua rotina de trabalho normalmente no mesmo dia. São sempre feitos em parceria com o ginecologista, não doem e poupam o colo do útero. É preciso estar em dia com o preventivo ginecológico.
            </p>
            <h2>
                Como é a recuperação das pacientes após os procedimentos?
            </h2>
            <p>
                Pode haver descamação leve, arroxeamento leve do local, dependendo do procedimento que foi realizado, mas em todos eles a paciente está recuperada totalmente em no máximo uma semana, quando as atividades sexuais podem ser retomadas.
            </p>

        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "full":
        title.innerText = "Full face / Harmonização facial / MD codes"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/hialuronico/full-section.png" alt="">
        <div class="info-text">
            <h2>
                O que é a Harmonização Facial com MD Codes?
            </h2>
            <p>
                A técnica de MD Codes (códigos médicos), também conhecida como “Harmonização Facial”,  é uma técnica recentemente descrita pelo cirurgião plástico Maurício de Maio, que utiliza os preenchedores com ácido hialurônico em diferentes pontos da face. Através dessa técnica, mapeamos pontos estratégicos de sustentação na face e neles injetamos pequenas quantidades de ácido hialurônico com o intuito de diminuir o aspecto cansado, flácido e envelhecido do rosto.
            </p>
            <p>
                Cada paciente deve ser avaliado como único pois cada um, dependendo da idade, biotipo, grau de flacidez e espessura da pele, necessitará de uma quantidade maior ou menor de ácido hialurônico em cada ponto desses. Além disso, existe uma gama enorme de produtos contendo ácido hialurônico a nossa disposição. Tais produtos contêm diferentes pesos moleculares, ou seja, as moléculas que os compõem podem ser maiores ou menores, o que os tornam mais ou menos densos. Dependendo da necessidade de cada um, usamos um tipo de produto específico em cada área.
            </p>
            <p>
                Em vez de ser aplicado em marcas ou sulcos isolados, como fazíamos anteriormente, o ácido hialurônico é injetado em pequenas quantidades de uma forma global na face, fornecendo resultados muito mais naturais, com uma melhora do aspecto cansado, flácido e triste do rosto, mas sem que seja notado que algo específico foi feito. Além disso, o resultado é bem mais proporcional, já que não fica uma área “preenchida” e outra sem tratar. Devido a esse resultado global, essa técnica recebeu o nome de Harmonização Facial.
            </p>
            <p>
                Assim como outros tratamentos com ácido hialurônico, o processo é rápido, simples e seguro. O procedimento é feito em consultório dermatológico com anestesia em creme, não exige que o paciente fique de repouso, não exige afastamento do trabalho e o resultado é visível imediatamente. O tratamento dura, em média, 18 meses e pode ser reaplicado conforme a necessidade de cada paciente.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "corporal":
        title.innerText = "Corporal"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/hialuronico/corporal-section.png" alt="">
        <div class="info-text">
         
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "maos":
        title.innerText = "Preenchimento de Mãos"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/hialuronico/maos-section.png" alt="">
        <div class="info-text">
            <h2>
                O que é o Preenchimento das Mãos?
            </h2>
            <p>
                A pele das mãos é mais fina e delicada que o restante do corpo e mais exposta a fatores como sol, vento e  produtos de limpeza, e nem sempre recebe a atenção que merece. Em alguns casos, elas até parecem envelhecer mais rápido que o restante do corpo.
            </p>
            <p>
                Com o passar dos anos, o processo de envelhecimento das mãos se dá por duas causas principais: mudanças na superfície – de textura – e perda de volume. A mudança de textura se caracteriza por alterações na pigmentação da pele, com o surgimento de manchas. A pele fica também mais fina, com aspecto apergaminhado e também aparecem pequenas rugas. A perda de volume ocorre por diminuição do tecido celular subcutâneo e, consequentemente, as mãos parecem mais magrinhas, com maior visibilidade das veias e tendões.
            </p>
            <h2>
                Como podemos repor o volume perdido nas mãos?
            </h2>
            <p>
                Os preenchedores dérmicos são uma opção viável para a reposição do volume perdido no dorso das mãos. Podem ser utilizados os preenchedores à base de ácido hialurônico, com a capacidade de “engordar” as mãos mais magras. Pode ser também utilizado o ácido polilático (Sculptra) para estímulo à produção de colágeno e melhora de pequenas rugas.
            </p>
            <h2>
                Como podemos tratar a superfície da pele das mãos?
            </h2>
            <p>
                Todos os tratamentos clareadores, como peelings, lasers e Luz Intensa Pulsada podem também ser feitos nas mãos. Outra opção para melhorar a hidratação dessa pele fina é a hidratação injetável, feita através dos Skinboosters.
            </p>
            <h2>
                Qual o tratamento mais completo para as mãos?
            </h2>
            <p>
                Uma substância muito completa para o tratamento das mãos é a hidroxiapatita de cálcio (Radiesse). O Radiesse é utilizado para preencher diversas áreas, dentre elas as mãos. Além de preencher os sulcos entre os tendões e veias, ele também estimula a produção de colágeno, contribuindo também para o rejuvenescimento da área de aplicação. Ou seja, esse procedimento atua simultaneamente nas duas causas de envelhecimento das mãos, tanto na superfície da pele, quanto na perda de volume. Após três semanas, pode-se perceber mãos bem mais jovens, com viço e melhora do aspecto geral da pele.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;

    }
  }
</script>

<!-- script para swiper dos itens -->
 <script>
      const swiper = new Swiper(".swiper", {
        spaceBetween: 20,
        slidesPerView: "auto",
        grabCursor: true,
        loop: true,
        navigation: {
          nextEl: ".swiper-button-next1",
          prevEl: ".swiper-button-prev1",
        },
      });
    </script>