---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/bio-page.css"
---

{% include 'nav3.njk' %}
<header>
    <div class="header-title">
        <img src="../img/cosmiatria/cosmiatria-header.svg" alt="">
        <h1>cosmiatria</h1>
    </div>
    <h2>bioestimuladores | bioremodeladores</h2>
</header>

<section class="bio">
    <h1>Bioestimuladores</h1>
    <p>
        Os <strong>bioestimuladores</strong> despertam a beleza de dentro pra fora. Eles estimulam o colágeno, devolvendo firmeza e viço à pele, de forma natural e gradual — um carinho que o tempo retribui com suavidade.
    </p>

    <div class="wrap-bio">
        <div class="item">
            <a class="claro" href="/bioestimuladores/?selection=radiesse">
                <h2>Radiesse</h2>
            </a>
            <p>Bioestimulação de colágeno</p>
        </div>
        <div class="item">
            <a class="back2" href="/bioestimuladores/?selection=sculptra">
                <h2>Sculptra e elleva</h2>
            </a>
            <p>
                Ácido Polilático para flacidez
            </p>
        </div>
        <div class="item">
            <a class="escuro" href="/bioestimuladores/?selection=harmonyca">
                <h2>Harmonyca</h2>
            </a>
            <p>Bioestimulador Híbrido</p>
        </div>
        <div class="item">
            <a class="marrom" href="/bioestimuladores/?selection=ellanse">
                <h2>Ellansé</h2>
            </a>
            <p>Policaprolactona para firmeza</p>
        </div>
    </div>
       <a href="/tratamentos" class="blueButton"> 
        <img src="../img/flecha-voltar.png" alt="">
        <p>ver todos os tratamentos</p>
    </a>
</section>

<section class="bio2">
    <h1>Bioremodeladores</h1>
    <p>
        Os <strong>bioremodeladores</strong> melhoram a firmeza, elasticidade e hidratação de dentro pra fora, sem mudar seus traços — apenas realçando sua beleza natural com suavidade e cuidado. São aliados perfeitos para quem busca um rejuvenescimento sutil.
    </p>
    <div class="wrap-bio">
        <div class="item">
            <a class="claro" href="/bioremodeladores/?selection=profhilo">
                <h2>Profhilo</h2>
            </a>
            <p>HIDRATAÇÃO, Estímulo de colágeno e elastina</p>
        </div>
        <div class="item">
            <a class="back2" href="/bioremodeladores/?selection=pdrn">
                <h2>PDRN</h2>
            </a>
            <p>
                Regeneração celular 
                E aceleração da reparação
            </p>
        </div>
        <div class="item">
            <a class="escuro" href="/bioremodeladores/?selection=nctf">
                <h2>Nctf</h2>
            </a>
            <p>Revitalização celular E hidratação profunda</p>
        </div>
        <div class="item">
            <a class="marrom" href="/bioremodeladores/?selection=exossomos">
                <h2>Exossomos</h2>
            </a>
            <p>Comunicação celular E regeneração avançada</p>
        </div>
    </div>
       <a href="/tratamentos" class="blueButton"> 
        <img src="../img/flecha-voltar.png" alt="">
        <p>ver todos os tratamentos</p>
    </a>
</section>


{% include 'footer.njk' %}
