---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/bioestimuladores.css"
---

{% include 'nav3.njk' %}
<header>
    <div class="header-title">
        <img src="../img/cosmiatria/cosmiatria-header.svg" alt="">
        <h1>cosmiatria</h1>
    </div>
    <h2>bioestimuladores</h2>
</header>

<section class="select-itens">
    <div class="swiper">
        <h1>Bioestimuladores</h1>
        <div class="selector-circles swiper-wrapper">
            <div class="selection-item selected claro swiper-slide" id="radiesse">
                <h3>Radiesse</h3>
            </div>
            <div class="selection-item back2 swiper-slide" id="sculptra">
                <h3>Sculptra e elleva</h3>
            </div>
            <div class="selection-item escuro no-info swiper-slide" id="harmonyca">
                <h3>harmonyca</h3>
            </div>
            <div class="selection-item marrom no-info swiper-slide" id="ellanse">
                <h3>Ellansé</h3>
            </div>
        </div>
    </div>
</section>

<h1 id="changeTitle">BIOESTIMULADOR DE COLÁGENO (RADIESSE)</h1>

<div class="wrap-content">
    <!-- Não alterar essa parte -->
<aside class="left-table">
    <label>
        <input type="checkbox" />
        <span class="side-menu">
            <span class="hamburger only-mobile">
                <p class="abrir">Menu</p>
            </span>
        </span>
        <div class="table-itens">
            <img src="../../img/logo.webp" class="logo only-mobile" />
            <img src="../../img/svg/fechar.svg" class="fechar only-mobile" />
            <a class="button" href="/injetaveis">
                <p>Injetáveis</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="button chosen" href="/bioestimuladores">
                <p>Bioestimuladores</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="button no-info" href="/bioremodeladores">
                <p>Bioremodeladores</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="button" href="/cosmiatria/?selection=fios">
                <p>Fios de PDO</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="button" href="/cosmiatria/?selection=ipca">
                <p>IPCA (Microagulhamento)</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="button no-info" href="/cosmiatria/?selection=mmp">
                <p>MMP Facial</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="button" href="/cosmiatria/?selection=peelings">
                <p>Peelings</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/tratamentos" class="blueButton only-mobile"> 
                <img src="../img/flecha-voltar.webp" alt="">
                <p>ver todos os tratamentos</p>
            </a>
        </div>
        <a href="/tratamentos" class="blueButton tablet-desktop"> 
            <img src="../img/flecha-voltar.webp" alt="">
            <p>ver todos os tratamentos</p>
        </a>
    </label>
</aside>

<section class="content" id="content">
    <div class="right-content">
        <img src="../img/bioestimuladores/sculptra.webp">

        <div class="info-text">
            <h2>
                O que é o Ácido Polilático para Flacidez (Sculptra)?
            </h2>
            <p>
                Sculptra® é um composto injetável de ácido poli-L-láctico, uma substância absorvível pelo organismo. Trata-se de um potente bioestimulador de colágeno, isto é, uma substância que ao ser aplicada em determinada região, estimula naturalmente a produção de colágeno pelas células daquele local.
            </p>
            <p>
                Com o envelhecimento ou após emagrecimento muito repentino, há uma diminuição grande na produção de colágeno pelo nosso organismo. Algumas pessoas têm também uma tendência genética a produzir menos colágeno. A consequência disso é uma pele mais flácida e frouxa.
            </p>
            <p>
                O Sculptra é um dos melhores tratamentos para enrijecer e diminuir a flacidez da pele. Frequentemente, é aplicado na face, mas também obtemos bons resultados para minimizar a flacidez corporal, como do abdômen pós-parto, dos glúteos e dos braços e pernas em quem perdeu muito peso.
            </p>
            <p>
                É usado para tratar a flacidez já instalada e também como preventivo, para que ela demore mais a aparecer. Os resultados das aplicações são vistos gradualmente e são muito naturais, ótimo para quem não quer mudar muito ou ficar com aparência artificial. A pele vai ficando mais firme e espessa, menos pregueada e sem aparência flácida gradualmente.
            </p>
            <p>
                O tratamento precoce da flacidez, antes mesmo de se instalar, evita que outras consequências apareçam, como o bigode chinês, bochecha de buldogue, olheiras e rugas, que quando presentes serão bem mais difíceis de serem tratados do que se forem prevenidos.
            </p>
            <h2>
                Como é feito o tratamento?
            </h2>
            <p>
                As aplicações são feitas no consultório do dermatologista, após a aplicação de cremes anestésicos. O Sculptra é aplicado em pontos estratégicos de sustentação, que serão avaliados caso a caso.
            </p>
            <h2>
                Quantas sessões são necessárias?
            </h2>
            <p>
                Em média, serão necessárias de duas a quatro sessões.
            </p>
            <h2>
                Quando é visto o resultado?
            </h2>
            <p>
                O resultado começa a ser visto geralmente após a 3ª semana, mas algumas pessoas demoram mais a produzir colágeno. O melhor resultado é percebido após o segundo mês.
            </p>
            <h2>
                Quais são as orientações após o procedimento?
            </h2>
            <p>
                O paciente pode voltar normalmente às atividades habituais após a sessão, devendo apenas realizar massagens na face durante cinco dias, que serão orientadas pelo dermatologista.
            </p>

        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visconde de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
</section>
</div>

{% include 'footer.njk' %}

<!-- Script que altera as paginas -->
 
<script>
  const section = document.getElementById("content");
  const urlParams = new URLSearchParams(window.location.search);
  let selected = urlParams.get("selection");
  let padrao = "radiesse"
  const title = document.getElementById("changeTitle")

 window.onload = () => {
    if (selected) {
      selectById(selected);
    } else {
      selectById(padrao);
    }
};

  // Função para resetar a seleção
  function resetSelection() {
    const items = document.querySelectorAll(".selected");
    items.forEach((item) => item.classList.remove("selected"));
  }

  // Função para atualizar a seleção
  const radiesse = document.getElementById("radiesse");
  radiesse.addEventListener("click", () => {
    resetSelection();
    selected = "radiesse";
    radiesse.classList.add("selected");
    updateSection();
  });

  const sculptra = document.getElementById("sculptra");
  sculptra.addEventListener("click", () => {
    resetSelection();
    selected = "sculptra";
    sculptra.classList.add("selected");
    updateSection();
  });

  const harmonyca = document.getElementById("harmonyca");
  harmonyca.addEventListener("click", () => {
    resetSelection();
    selected = "harmonyca";
    harmonyca.classList.add("selected");
    updateSection();
  });

  const ellanse = document.getElementById("ellanse");
  ellanse.addEventListener("click", () => {
    resetSelection();
    selected = "ellanse";
    ellanse.classList.add("selected");
    updateSection();
  });

  function selectById(id) {
    resetSelection();
    selected = id;
    const element = document.getElementById(id);
    if (element) {
      element.classList.add("selected");
      updateSection();
    }
  }

  // Função para atualizar o conteúdo da seção
  function updateSection() {
    switch (selected) {
      case "radiesse":
        title.innerText = "Bioestimulador de colágeno (Radiesse)"
        section.innerHTML = `
<div class="right-content">
        <img src="../img/bioestimuladores/radiesse.webp">

        <div class="info-text">
            <h2>
                O que é Radiesse e para o que serve?
            </h2>
            <p>
                O Radiesse é um bioestimulador de colágeno injetável, composto por um gel de carboximetilcelulose e microesferas de hidroxiapatita de cálcio. Esse componente é capaz de estimular o organismo a produzir colágeno novo e de melhor qualidade nas áreas tratadas. Como resultado, há melhora da firmeza, da textura e um leve efeito de lifting da pele.
            </p>
            <p>
                Embora a face seja a área mais tradicionalmente tratada com bioestimuladores, o Radiesse também pode ser aplicado no pescoço, colo, mãos e outras regiões do corpo onde se deseje estimular a produção de colágeno, como abdômen, glúteos e braços — sendo especialmente útil para melhorar a flacidez do “tchauzinho”. Muitas mulheres optam por esse tratamento no pós-parto para tratar a flacidez abdominal. Também é indicado para áreas afetadas por cicatrizes de acne, como as bochechas, que podem ter perda significativa de colágeno após quadros severos de acne inflamatória. Quando aplicado nas mãos, além de melhorar a qualidade da pele, o Radiesse ajuda a disfarçar veias e tendões salientes, comuns com o avanço da idade.
            </p>
            <p>
                O produto é biocompatível, ou seja, é bem aceito pelo organismo, com baixíssimo risco de rejeição, alergia ou sensibilidade. A aplicação é feita no consultório, com anestesia tópica (em creme), utilizando agulhas finas ou cânulas, e geralmente em pequenas quantidades. O retorno às atividades do dia a dia é imediato.
            </p>
            <p>
                Os resultados do Radiesse não são imediatos, já que seu efeito está ligado à produção natural de colágeno, o que pode levar algumas semanas a meses. Os primeiros efeitos costumam ser percebidos por volta de três semanas após a aplicação. A duração média do resultado é de 18 a 24 meses, podendo variar conforme o organismo de cada pessoa — fatores como idade, tipo de pele, estilo de vida e metabolismo influenciam diretamente na resposta ao tratamento. Em alguns casos, mais de uma sessão pode ser indicada para melhores resultados.
            </p>
            <p>
                O tratamento com Radiesse é seguro, pouco invasivo e oferece resultados eficazes e duradouros.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visconde de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
  `
  ;
        break;
      case "sculptra":
        title.innerText = "Sculptra e Elleva"
        section.innerHTML = `
            <div class="right-content">
        <img src="../img/bioestimuladores/sculptra.webp">

        <div class="info-text">
            <h2>
                O que é o Ácido Polilático para Flacidez (Sculptra)?
            </h2>
            <p>
                Sculptra® é um composto injetável de ácido poli-L-láctico, uma substância absorvível pelo organismo. Trata-se de um potente bioestimulador de colágeno, isto é, uma substância que ao ser aplicada em determinada região, estimula naturalmente a produção de colágeno pelas células daquele local.
            </p>
            <p>
                Com o envelhecimento ou após emagrecimento muito repentino, há uma diminuição grande na produção de colágeno pelo nosso organismo. Algumas pessoas têm também uma tendência genética a produzir menos colágeno. A consequência disso é uma pele mais flácida e frouxa.
            </p>
            <p>
                O Sculptra é um dos melhores tratamentos para enrijecer e diminuir a flacidez da pele. Frequentemente, é aplicado na face, mas também obtemos bons resultados para minimizar a flacidez corporal, como do abdômen pós-parto, dos glúteos e dos braços e pernas em quem perdeu muito peso.
            </p>
            <p>
                É usado para tratar a flacidez já instalada e também como preventivo, para que ela demore mais a aparecer. Os resultados das aplicações são vistos gradualmente e são muito naturais, ótimo para quem não quer mudar muito ou ficar com aparência artificial. A pele vai ficando mais firme e espessa, menos pregueada e sem aparência flácida gradualmente.
            </p>
            <p>
                O tratamento precoce da flacidez, antes mesmo de se instalar, evita que outras consequências apareçam, como o bigode chinês, bochecha de buldogue, olheiras e rugas, que quando presentes serão bem mais difíceis de serem tratados do que se forem prevenidos.
            </p>
            <h2>
                Como é feito o tratamento?
            </h2>
            <p>
                As aplicações são feitas no consultório do dermatologista, após a aplicação de cremes anestésicos. O Sculptra é aplicado em pontos estratégicos de sustentação, que serão avaliados caso a caso.
            </p>
            <h2>
                Quantas sessões são necessárias?
            </h2>
            <p>
                Em média, serão necessárias de duas a quatro sessões.
            </p>
            <h2>
                Quando é visto o resultado?
            </h2>
            <p>
                O resultado começa a ser visto geralmente após a 3ª semana, mas algumas pessoas demoram mais a produzir colágeno. O melhor resultado é percebido após o segundo mês.
            </p>
            <h2>
                Quais são as orientações após o procedimento?
            </h2>
            <p>
                O paciente pode voltar normalmente às atividades habituais após a sessão, devendo apenas realizar massagens na face durante cinco dias, que serão orientadas pelo dermatologista.
            </p>

        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visconde de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
`;
        break;
      case "harmonyca":
        title.innerText = "Harmonyca"
        section.innerHTML = `
              <div class="right-content">
        <img src="../img/bioestimuladores/harmonyca.webp" alt="">
        <div class="info-text">
                 
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visconde de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
        `;
        break;
      case "ellanse":
        title.innerText = "Ellansé"
        section.innerHTML = `
                 <div class="right-content">
        <img src="../img/bioestimuladores/ellanse.webp" alt="">
        <div class="info-text">
            
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visconde de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
    }
  }
</script>

<!-- script para swiper dos itens -->
     <script>
      const swiper = new Swiper(".swiper", {
        spaceBetween: 5,
        grabCursor: true,
        loop: true,
        loopedSlides: 4,
        breakpoints: {
            300: {
                slidesPerView: 3.5,
            },
            700: {
                slidesPerView: 4,
                spaceBetween: 20
            }
        }
      });
    </script>
