---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/contato.css"
---

{% include 'nav.njk' %}

<header>
    <img class="tablet-desktop" src="../img/contato-header.webp" alt="">
    <img class="only-mobile" src="../img/contato-header-mob.webp" alt="">
    <div class="header-title">
        <h1>contato</h1>
    </div>
</header>

<section class="content">
    <div class="left-content">
        <h1>Cuidar da pele é cuidar de si</h1>
    </div>
    <div class="right-content">
        <h3>Estamos prontas para oferecer tratamentos que valorizam sua saúde, beleza e autenticidade.</h3>
        <div class="address">
            <img src="../img/svg/address-icon.svg" alt="">
            <a href="https://maps.app.goo.gl/NHSv2GCmhRmJ51cg9">
                <strong>CENTRO </strong>Praça Mahatma Gandhi, nº 2<br>
                Sala 621 | Edifício do Cinema Odeon<br>
                Rio de Janeiro, RJ | 20031-100
            </a>
        </div>
        <div class="address">
            <img src="../img/svg/address-icon.svg" alt="">
            <a href="https://maps.app.goo.gl/Mw7g1FNnTSecV11b7">
                <strong>IPANEMA </strong>R. Visconde de Pirajá, nº 550<br>
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </a>
        
        </div>
        <a href="https://wa.me/5521985853637?text=Ol%C3%A1,%20estava%20no%20site%20da%20Dra.%20Lídia%20Gusmão%20e%20gostaria%20de%20agendar%20uma%20consulta%20por%20favor.">
            <strong>whatsapp </strong>+55 21 98585-3637
        </a>
        <a href="https://www.instagram.com/grupolidiagusmao/"><strong>instagram </strong>@grupolidiagusmao</a>
    </div>
</section>

{% include 'footer.njk' %}