---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header>
    <img class="header-img only-desktop" src="../../img/header.png" alt="">
    <img class="header-img mobile-tablet" src="../../img/header-mob.png" alt="">
    <div class="text-box">
        <h1>Beleza é cuidado. Saúde é essência.<br/>
            Sua pele, nossa especialidade.
        </h1>
        <img src="../../img/logo-header.png" alt="">
    </div>
</header>

<section class="realce">
  <h2>Realce sua beleza única com tecnologia, cuidado e naturalidade.</h2>
  <a href="" class="blueButton">entre em contato</a>
  <img class="right-image" src="../../img/svg/right.svg" alt="">
  <img src="../img/realce.png" alt="">
  <p>Cuidar da pele é um ato de respeito e valorização da sua identidade. No Grupo Lídia Gusmão, reunimos médicas especialistas em diversas áreas da dermatologia para oferecer tratamentos personalizados, eficazes e seguros. Valorizamos a naturalidade e o cuidado personalizado, para todas as peles e gêneros.</p>
</section>

<section class="setores">
  <h1>Setores</h1>
  <p>Soluções personalizadas para cada necessidade, da estética à saúde da pele.</p>
</section>


<div class="pre-footer">
  <img src="../../img/pre-footer.png" alt="">
    <div class="pre-right">
        <div class="right-title">
                <h1><span class="salt2">Venha conhecer nosso espaço pensado para cuidar de você.</h1>
        </div>
        <div class="right-info">
                <p><strong>UNIDADE IPANEMA</strong></p>
                <p>UNIDADE PRAÇA MAHATMA GHANDI</p>
        </div>
        <div class="right-info">
                <p><strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550 <br/>
                      Sala 313 | Rio de Janeiro, RJ | 22410-002
                </p>
        </div>
    </div>
</div>
    
    {% include 'footer.njk' %}

    <!-- <script>
        const swiper = new Swiper(".swiper", {
          spaceBetween: 67,
          slidesPerView: "auto",
          grabCursor: true,
          pagination: {
            el: '.swiper-pagination',
          },
          breakpoints: {
            300: {
              slidesPerView: "auto",
              spaceBetween: 8,
            },
            701:{
                spaceBetween: 30,
            },
            1260: {
              slidesPerView: 5,
              spaceBetween: 67,
            },
          },
        });
      </script> -->