---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header>
    <img class="header-img only-desktop" src="../../img/header.png" alt="">
    <img class="header-img mobile-tablet" src="../../img/header-mob.png" alt="">
    <div class="text-box">
        <h1>Beleza é cuidado. Saúde é essência.<br/>
            Sua pele, nossa especialidade.
        </h1>
        <img src="../../img/logo-header.png" alt="">
    </div>
</header>

<section class="realce">
  <h2>Realce sua beleza única com tecnologia, cuidado e naturalidade.</h2>
  <a href="" class="blueButton">entre em contato</a>
  <img class="right-image" src="../../img/svg/right.svg" alt="">
  <img src="../img/realce.png" alt="">
  <p>Cuidar da pele é um ato de respeito e valorização da sua identidade. No Grupo Lídia Gusmão, reunimos médicas especialistas em diversas áreas da dermatologia para oferecer tratamentos personalizados, eficazes e seguros. Valorizamos a naturalidade e o cuidado personalizado, para todas as peles e gêneros.</p>
</section>

<section class="setores">
  <h1>Setores</h1>
  <p>Soluções personalizadas para cada necessidade, da estética à saúde da pele.</p>
</section>


<div class="pre-footer">
    <div class="pre-left">
        <div class="left-title">
                <h1><span class="salt2">V</span>enha conhecer nossa loja</h1>
        </div>
        <div class="left-info">
                <p>R. Dr. Pedrosa, 366 - Centro, Curitiba</p>
                <p>Segunda à sábado das 8h às 20h<br/>
                    Domingo das 9h às 19h
                </p>
                <p>Temos estacionamento conveniado para que você consiga aproveitar nossas delícias sem se preocupar!</p>
        </div>
    </div>
    <img src="../../img/pre-footer.png" alt="">
</div>
    
    {% include 'footer.njk' %}

    <!-- <script>
        const swiper = new Swiper(".swiper", {
          spaceBetween: 67,
          slidesPerView: "auto",
          grabCursor: true,
          pagination: {
            el: '.swiper-pagination',
          },
          breakpoints: {
            300: {
              slidesPerView: "auto",
              spaceBetween: 8,
            },
            701:{
                spaceBetween: 30,
            },
            1260: {
              slidesPerView: 5,
              spaceBetween: 67,
            },
          },
        });
      </script> -->