---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header>
  <img class="header-img only-desktop" src="../../img/header.webp" alt="">
  <img class="header-img mobile-tablet" src="../../img/header-mob.webp" alt="">
  <div class="text-box">
    <h1>Beleza é cuidado. Saúde é essência.<br />
      Sua pele, nossa especialidade.
    </h1>
    <img src="../../img/logo-header.webp" alt="">
  </div>
</header>

<section class="realce">
  <h2>Realce sua beleza única com tecnologia, cuidado e naturalidade.</h2>
  <a href="" class="blueButton">entre em contato</a>
  <img class="right-image" src="../../img/svg/right.svg" alt="">
  <img class="realce-image" src="../img/realce.webp" alt="">
  <p>Cuidar da pele é um ato de respeito e valorização da sua identidade. No Grupo Lídia Gusmão, reunimos médicas
    especialistas em diversas áreas da dermatologia para oferecer tratamentos personalizados, eficazes e seguros.
    Valorizamos a naturalidade e o cuidado personalizado, para todas as peles e gêneros.</p>
</section>

<section class="setores">
  <h1 data-aos="fade" data-aos-duration="1000">Setores</h1>
  <p>Soluções personalizadas para cada necessidade, da estética à saúde da pele.</p>
  <div class="swiper1">
    <div class="left-back"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="/tratamentos#dermatologia">
          <img src="../img/dermatologia.webp" alt="">
          <h2>Dermatologia clínica<br /> e cirúrgica</h2>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/tratamentos#tricologia">
          <img src="../img/tricologia.webp" alt="">
          <h2>Tricologia</h2>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/tratamentos#cosmiatria">
          <img src="../img/cosmiatria-2.webp" alt="">
          <h2>Cosmiatria</h2>
        </a>
      </div>
    </div>
    <div class="right-back"></div>
    <div class="swiper-button swiper-button-prev1">
      <img src="../img/svg/back.svg" alt="">
    </div>
    <div class="swiper-button swiper-button-next1">
      <img src="../img/svg/next.svg" alt="">
    </div>
  </div>
  <a href="tratamentos" class="blueButton">conheça nossos setores</a>
</section>

<section class="equipe">

  <h1 class="only-mobile" data-aos="fade">Nossa equipe</h1>
  <img src="../img/equipe.webp" alt="">
  <div class="right-equipe">
    <h1 class="only-desktop" data-aos="fade">Nossa equipe</h1>
    <p>Sua pele merece um cuidado especializado e personalizado. Nossa clínica reúne um time de médicas especialistas
      que atende a todas as peles e gêneros, oferecendo tratamentos focados no gerenciamento do envelhecimento, com
      resultados naturais e baseados na dermatologia regenerativa, para restaurar e preservar a saúde da sua pele.</p>
    <a href="/equipe" class="blueButton">conheça nossa equipe</a>
  </div>
</section>

<section class="depoimentos">
  <div class="depoimentos-left">
    <h2 data-aos="fade">
      O cuidado que faz a diferença
    </h2>
  </div>
  <div class="depoimentos-right">
    <div class="depoimentos-meio">
      <img src="../img/svg/aspas.svg" alt="">
    </div>
    <div class="swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p>Experiência excelente na Clínica Lídia Gusmão! Atendimento de alto nível, equipe atenciosa e estrutura
            moderna que transmite confiança e conforto. Fui muito bem recebido e tive um acompanhamento profissional
            impecável. Recomendo a todos que buscam cuidado e qualidade em dermatologia. Parabéns à equipe!</p>
          <h4>Marcelo</h4>
        </div>
        <div class="swiper-slide">
          <p>Clínica muito bem montada e com uma equipe de médicas, esteticista e atendentes maravilhosa! Minha médica é
            a Dra. Lídia Gusmão, que é super capacitada e nos atende com muito carinho. Ela é minha dermatologista há
            mais de quinze anos. Para quem deseja ser atendido com médicas super capacitadas, com os tratamentos mais
            modernos e eficientes na área da dermatologia e estética, super recomendo a clínica</p>
          <h4>Ana Paula</h4>
        </div>
        <div class="swiper-slide">
          <p>Adoro a clínica, médicas humanas e sinceras.. as meninas da equipe sempre muito atenciosas e pró ativas!!
            Sempre uma ótima experiência..bem localizada, ainda tem uma vista linda!!! Super recomendo!</p>
          <h4>Raisa</h4>
        </div>
        <div class="swiper-slide">
          <p>A clínica é linda! Fácil acesso, prédio histórico..lindo, a vista é incrível, a equipe é bem afetuosa e as
            médicas atenciosas! Recomendo!</p>
          <h4>Nathalia</h4>
        </div>
        <div class="swiper-slide">
          <p>A clínica é bem localizada, em um prédio histórico no centro do Rio, com uma vista linda. A equipe é muito
            profissional e competente. Te trataram com carinho e você se sente especial. A Dra Lídia Gusmão é incrível.
            Muito gentil, atenciosa sempre presa pelo melhor resultado para o paciente. Gosto demais dessa clínica e
            super recomendo!</p>
          <h4>César</h4>
        </div>
        <div class="swiper-slide">
          <p>Gostaria de agradecer pelo atendimento que recebi na clínica. Além de ser um lugar lindo, com uma vista
            maravilhosa, me senti super acolhido por toda equipe, todos muito cordiais e prestativos. Gostaria de
            agradecer em especial o atendimento que recebi da Dra. Bárbara Machado, profissional excelente e muito
            atualizada!</p>
          <h4>Lucas</h4>
        </div>
      </div>
      <div class="swiper-nav">
        <img class="swiper-button-prev2" src="../img/svg/before.svg" alt="">
        <img class="swiper-button-next2" src="../img/svg/after.svg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="voce">
  <p>Você merece o melhor. Agende sua consulta e viva a experiência de cuidados dermatológicos de qualidade.</p>
  <a href="" class="blueButton">entre em contato</a>
</section>

<section class="espaco">
  <h1>nosso espaço</h1>
  <div class="swiper3">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="only-desktop" src="../img/espaco1.webp" alt="">
        <img class="only-mobile" src="../img/espaco1-mob.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="only-desktop" src="../img/espaco2.webp" alt="">
        <img class="only-mobile" src="../img/espaco2-mob.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="only-desktop" src="../img/espaco3.webp" alt="">
        <img class="only-mobile" src="../img/espaco3-mob.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="only-desktop" src="../img/espaco4.webp" alt="">
        <img class="only-mobile" src="../img/espaco4-mob.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="only-desktop" src="../img/espaco5.webp" alt="">
        <img class="only-mobile" src="../img/espaco5-mob.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="only-desktop" src="../img/espaco6.webp" alt="">
        <img class="only-mobile" src="../img/espaco6-mob.webp" alt="">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<div class="pre-footer">
  <img class="only-desktop" id="changeImage" src="../../img/pre-footer.webp" alt="">
  <img class="only-mobile" id="changeImageMob" src="../../img/pre-footer-mob.webp" alt="">
  <div class="pre-right">
    <div class="right-title">
      <h1 data-aos="fade">Venha conhecer nosso espaço pensado para cuidar de você.</h1>
    </div>
    <div class="right-info selector">
      <p class="selected" id="ipanema">UNIDADE IPANEMA</p>
      <p id="mahatma">UNIDADE PRAÇA MAHATMA GHANDI</p>
    </div>
    <div class="right-info" id="content">
      <p><strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550 <br />
        Sala 313 | Rio de Janeiro, RJ | 22410-002
      </p>
      <a href=""><img src="../../img/svg/whats-azul.svg" alt=""></a>
    </div>
  </div>
</div>

{% include 'footer.njk' %}

<!-- script swiper tratamentos -->
<script>
  const swiper = new Swiper(".swiper1", {
    spaceBetween: 20,
    slidesPerView: "auto",
    grabCursor: true,
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next1",
      prevEl: ".swiper-button-prev1",
    },
  });
</script>

<!-- script swiper depoimentos -->
<script>
  const swiper2 = new Swiper(".swiper2", {
    grabCursor: true,
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next2',
      prevEl: '.swiper-button-prev2',
    },
    // breakpoints: {
    //   300: {
    //     slidesPerView: "auto",
    //     spaceBetween: 20,
    //   },
    //   1260: {
    //     slidesPerView: "auto",
    //   },
    // },
  });
</script>

<!-- script swiper espaco -->
<script>
  const swiper3 = new Swiper(".swiper3", {
    slidesPerView: "auto",
    grabCursor: true,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<!-- script para troca de enderecos pre-footer -->
<script>
  const section = document.getElementById("content");
  const image = document.getElementById("changeImage");
  const imageMob = document.getElementById("changeImageMob");
  let padrao = "ipanema"

  // Função para resetar a seleção
  function resetSelection() {
    const items = document.querySelectorAll(".selected");
    items.forEach((item) => item.classList.remove("selected"));
  }

  // Função para atualizar a seleção
  const ipanema = document.getElementById("ipanema");
  ipanema.addEventListener("click", () => {
    resetSelection();
    selected = "ipanema";
    ipanema.classList.add("selected");
    updateSection();
  });

  const mahatma = document.getElementById("mahatma");
  mahatma.addEventListener("click", () => {
    resetSelection();
    selected = "mahatma";
    mahatma.classList.add("selected");
    updateSection();
  });

  function selectById(id) {
    resetSelection();
    selected = id;
    const element = document.getElementById(id);
    if (element) {
      element.classList.add("selected");
      updateSection();
    }
  }

  // Função para atualizar o conteúdo da seção
  function updateSection() {
    switch (selected) {
      case "ipanema":
        image.src = "../img/pre-footer.webp"
        imageMob.src = "../img/pre-footer-mob.webp"
        section.innerHTML = `
      <p><strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550 <br/>
                          Sala 313 | Rio de Janeiro, RJ | 22410-002
                    </p>
      `
          ;
        break;
      case "mahatma":
        image.src = "../img/pre-footer2.webp"
        imageMob.src = "../img/pre-footer2-mob.webp"
        section.innerHTML = `
                  <p>
              <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2 <br/>
              Sala 621 | Edifício do Cinema Odeon <br/>
              Rio de Janeiro, RJ | 20031-100
            </p>
    `;
        break;
      default:
        section.innerHTML = `
                <p><strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550 <br/>
                          Sala 313 | Rio de Janeiro, RJ | 22410-002
                    </p>
              `
    }
  }
</script>