---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/injetaveis.css"
---

{% include 'nav3.njk' %}
<header>
    <div class="header-title">
        <img src="../img/cosmiatria/cosmiatria-header.svg" alt="">
        <h1>cosmiatria</h1>
    </div>
    <h2>injetáveis</h2>
</header>

<div class="botulinica">
    <h1>Toxina Botulínica</h1>
    <div class="botulinica-itens">
        <a class="botulinica-item" href="">
            <img src="" alt="">
            <h2></h2>
        </a>
        <a class="botulinica-item" href="">
            <img src="" alt="">
            <h2></h2>
        </a>
        <a class="botulinica-item" href="">
            <img src="" alt="">
            <h2></h2>
        </a>
        <a class="botulinica-item" href="">
            <img src="" alt="">
            <h2></h2>
        </a>
    </div>
</div>


{% include 'footer.njk' %}
