---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/injetaveis.css"
---

{% include 'nav3.njk' %}
<header>
    <div class="header-title">
        <img src="../img/cosmiatria/cosmiatria-header.svg" alt="">
        <h1>cosmiatria</h1>
    </div>
    <h2>injetáveis</h2>
</header>

<div class="botulinica" id="botulinica">
    <h1>Toxina Botulínica</h1>
    <div class="botulinica-itens">
        <a class="botulinica-item first" href="/toxina-botulinica/?selection=hiperidrose">
            <img src="../img/injetaveis/hiperidrose.png" alt="">
            <h2>Hiperidrose</h2>
        </a>
        <a class="botulinica-item second" href="/toxina-botulinica/?selection=bruxismo">
            <img src="../img/injetaveis/bruxismo.png" alt="">
            <h2>Bruxismo</h2>
        </a>
        <a class="botulinica-item third" href="/toxina-botulinica/?selection=pescoco">
            <img src="../img/injetaveis/pescoco.png" alt="">
            <h2>Pescoço e nefertiti lift</h2>
        </a>
        <a class="botulinica-item fourth" href="/toxina-botulinica/?selection=sorriso">
            <img src="../img/injetaveis/sorriso.png" alt="">
            <h2>sorriso gengival</h2>
        </a>
    </div>
    <a href="/tratamentos" class="blueButton"> 
        <img src="../img/flecha-voltar.png" alt="">
        <p>ver todos os tratamentos</p>
    </a>
</div>

<div class="hialuronico" id="hialuronico">
    <h1>Ácido Hialurônico</h1>
    <div class="hialuronico-itens">
        <a class="hialuronico-item first" href="/acido-hialuronico/?selection=labios">
            <img src="../img/injetaveis/labios.png" alt="">
            <h2>Lábios</h2>
        </a>
        <a class="hialuronico-item second" href="/acido-hialuronico/?selection=nariz">
            <img src="../img/injetaveis/nariz.png" alt="">
            <h2>Nariz</h2>
        </a>
        <a class="hialuronico-item third no-info" href="/acido-hialuronico/?selection=sulco">
            <img src="../img/injetaveis/sulco.png" alt="">
            <h2>Sulco Nasogeniano e da Marionete</h2>
        </a>
        <a class="hialuronico-item fourth" href="/acido-hialuronico/?selection=malar">
            <img src="../img/injetaveis/malar.png" alt="">
            <h2>Malar<br/> Top Model Look</h2>
        </a>
        <a class="hialuronico-item fifth" href="/acido-hialuronico/?selection=mandibula">
            <img src="../img/injetaveis/mandibula.png" alt="">
            <h2>Mandíbula e Contorno Facial</h2>
        </a>
        <a class="hialuronico-item sixth" href="/acido-hialuronico/?selection=queixo">
            <img src="../img/injetaveis/queixo.png" alt="">
        <h2>Queixo</h2>
        </a>
        <a class="hialuronico-item seventh" href="/acido-hialuronico/?selection=olheiras">
            <img src="../img/injetaveis/olheiras.png" alt="">
            <h2>Olheiras</h2>
        </a>
        <a class="hialuronico-item eighth" href="/acido-hialuronico/?selection=skin">
            <img src="../img/injetaveis/skin.png" alt="">
            <h2>skinboosters / skinvive</h2>
        </a>
        <a class="hialuronico-item ninth" href="/acido-hialuronico/?selection=intimo">
            <img src="../img/injetaveis/intimo.png" alt="">
            <h2>Íntimo</h2>
        </a>
        <a class="hialuronico-item tenth" href="/acido-hialuronico/?selection=full">
            <img src="../img/injetaveis/full.png" alt="">
            <h2>Full face</h2>
        </a>
        <a class="hialuronico-item eleventh no-info" href="/acido-hialuronico/?selection=corporal">
            <img src="../img/injetaveis/corporal.png" alt="">
            <h2>Corporal</h2>
        </a>
        <a class="hialuronico-item twelfth" href="/acido-hialuronico/?selection=maos">
            <img src="../img/injetaveis/maos.png" alt="">
            <h2>Mãos</h2>
        </a>
    </div>
    <a href="/tratamentos" class="blueButton"> 
        <img src="../img/flecha-voltar.png" alt="">
        <p>ver todos os tratamentos</p>
    </a>
</div>


{% include 'footer.njk' %}
