---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/tecnologias.css"
---

{% include 'nav3.njk' %}
<header>
    <div class="header-title">
        <img src="../img/queixas/queixas-header.svg" alt="">
        <h1>tecnologias</h1>
    </div>
</header>

<h1 id="changeTitle">Laser Etherea</h1>

<div class="wrap-content">
    <!-- Não alterar essa parte -->
<aside class="left-table">
    <div class="table-itens">
        <button class="select selected" id="etherea">
            <p>Laser Etherea</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="acroma">
            <p>Laser Acroma</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="pulsada">
            <p>Luz Intensa Pulsada</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="deep">
            <p>Laser Pro Deep</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="dual">
            <p>Laser Dual mode ???</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="intimo">
            <p>Laser íntimo ???</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="depilacao">
            <p>Laser depilação</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="ultraformer">
            <p>Ultraformer II ???</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="mpt">
            <p>Ultraformer MPT</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        <button class="select" id="power">
            <p>Power 2 ???</p>
            <img src="../img/svg/right-arrow.svg" alt="">
        </button>
        
    </div>
    <a href="/tratamentos" class="blueButton"> 
        <img src="../img/flecha-voltar.png" alt="">
        <p>ver todos os tratamentos</p>
    </a>
</aside>

<section class="content" id="content">
    <div class="right-content">
        <img src="../img/tecnologias/.png" alt="">
        <div class="info-text">
            <h2>
                ULTRAFORMER – Ultrassom micro e macro focado
            </h2>
            <p>
                É comum que ao longo do tempo notemos perda de firmeza na pele com progressiva piora do contorno facial e aumento da flacidez na pele do corpo como um todo. Apesar de muitos desejarem melhorar sua aparência, é comum que alguns optem por evitar tratamentos cirúrgicos por serem intervenções mais invasivas e com riscos maiores associados. Por isso, dispomos atualmente de uma série de possibilidades de tratamento que visam rejuvenescer de modo menos invasivo. Uma dessas opções de tratamento é o ultrassom microfocado (Ultraformer).
            </p>
            <p>
                O Ultraformer III é uma tecnologia moderna que combina o ultrassom micro e macro focado. As ponteiras de ultrassom microfocado são utilizadas na face, promovendo uma melhora da flacidez e um efeito de reposicionamento da pele não cirúrgico. Já as ponteiras de ultrassom macrofocado são indicados para o corpo, reduzindo a flacidez, a gordura localizada e melhorando o contorno corporal.
            </p>
            <p>
                Na face, o procedimento pode ser realizado em várias áreas estratégicas para gerar um efeito lifting, tratando o contorno do terço inferior, que com o tempo vai se “apagando”, como resultado da flacidez. Pode também ser utilizado em áreas específicas, como pálpebras superiores, bolsas palpebrais inferiores e na região submentoniana, a famosa “papada”. Inclusive uma das grandes vantagens do ultrassom microfocado é o tratamento dessas áreas específicas, que muitas vezes não eram contempladas em outros tratamentos disponíveis até então.
            </p>
            <p>
                Por exemplo, seu efeito nas pálpebras é a melhora nas pequenas linhas que afetam essa região com o passar dos anos. Pode ocorrer ainda o arqueamento da sobrancelha e a melhora da flacidez dessa região.
            </p>
            <p>
                Já na região do submento (papada) pode ser tratada não só para melhora da flacidez, como também da gordura localizada na área.
            </p>
            <p>
                Assim como outros tratamentos para estímulo da produção natural de colágeno, seus resultados não são imediatos, pois dependem da formação progressiva de colágeno. Em compensação, são resultados bastante animadores.
            </p>
            <p>
                De modo geral, o Ultraformer é um tratamento bem tolerado durante e após sua realização, com a possibilidade de retorno imediato a suas atividades diárias.
            </p>
            <p>
                Vale lembrar também que para pacientes que sentem-se ansiosos com intervenções mais invasivas, o ultrassom microfocado Ultraformer não envolve o uso de agulhas ou cânulas, sendo uma excelente possibilidade terapêutica para essas pessoas, que, em geral, evitam tratamentos injetáveis.
            </p>
            <p>
                Atualmente existem inúmeras técnicas que combatem os efeitos da idade através de diferentes mecanismos. A combinação dessas estratégias pode otimizar ainda mais os resultados.
            </p>
            <p>
                Um protocolo muito interessante é a associação do tratamento com Ultraformer seguido de aplicação de Sculptra (ácido poli L-lático) no mesmo dia ou na mesma semana. Juntos eles promovem um grande estímulo à síntese de colágeno novo e de qualidade e otimizam ainda mais a resposta ao tratamento.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
</section>
</div>

{% include 'footer.njk' %}

<!-- Script que altera as paginas -->

<script>
  const section = document.getElementById("content");
  const urlParams = new URLSearchParams(window.location.search);
  let selected = urlParams.get("selection");
  let padrao = "etherea"
  const title = document.getElementById("changeTitle")

 window.onload = () => {
    if (selected) {
      selectById(selected);
    } else {
      selectById(padrao); // Carregar o padrão (miopia)
    }
};

  // Função para resetar a seleção
  function resetSelection() {
    const items = document.querySelectorAll(".selected");
    items.forEach((item) => item.classList.remove("selected"));
  }

  // Função para atualizar a seleção
  const etherea = document.getElementById("etherea");
  etherea.addEventListener("click", () => {
    resetSelection();
    selected = "etherea";
    etherea.classList.add("selected");
    updateSection();
  });

  const acroma = document.getElementById("acroma");
  acroma.addEventListener("click", () => {
    resetSelection();
    selected = "acroma";
    acroma.classList.add("selected");
    updateSection();
  });

  const pulsada = document.getElementById("pulsada");
  pulsada.addEventListener("click", () => {
    resetSelection();
    selected = "pulsada";
    pulsada.classList.add("selected");
    updateSection();
  });

  const deep = document.getElementById("deep");
  deep.addEventListener("click", () => {
    resetSelection();
    selected = "deep";
    deep.classList.add("selected");
    updateSection();
  });

  const dual = document.getElementById("dual");
  dual.addEventListener("click", () => {
    resetSelection();
    selected = "dual";
    dual.classList.add("selected");
    updateSection();
  });

  const intimo = document.getElementById("intimo");
  intimo.addEventListener("click", () => {
    resetSelection();
    selected = "intimo";
    intimo.classList.add("selected");
    updateSection();
  });

  const depilacao = document.getElementById("depilacao");
  depilacao.addEventListener("click", () => {
    resetSelection();
    selected = "depilacao";
    depilacao.classList.add("selected");
    updateSection();
  });

  const ultraformer = document.getElementById("ultraformer");
  ultraformer.addEventListener("click", () => {
    resetSelection();
    selected = "ultraformer";
    ultraformer.classList.add("selected");
    updateSection();
  });

  const mpt = document.getElementById("mpt");
  mpt.addEventListener("click", () => {
    resetSelection();
    selected = "mpt";
    mpt.classList.add("selected");
    updateSection();
  });

  const power = document.getElementById("power");
  power.addEventListener("click", () => {
    resetSelection();
    selected = "power";
    power.classList.add("selected");
    updateSection();
  });
  

  function selectById(id) {
    resetSelection();
    selected = id;
    const element = document.getElementById(id);
    if (element) {
      element.classList.add("selected");
      updateSection();
    }
  }

  // Função para atualizar o conteúdo da seção
  function updateSection() {
    switch (selected) {
      case "etherea":
        title.innerText = "Laser Etherea"
        section.innerHTML = `
        <div class="right-content">
        <img src="../img/tecnologias/etherea.png" alt="">
        <div class="info-text">
            <h2>
                Você sabe o que é uma plataforma de laser?
            </h2>
            <p>
                A plataforma de laser Etherea é a mais recente novidade da clínica e veio trazer comodidade, pois está disponível todos os dias, possibilitando maior liberdade no agendamento. Trata-se de uma nova tecnologia que incorpora o conceito de plataforma expansiva, ou seja, alia em um único equipamento a possibilidade de uso de diversos espectros de luzes, como a Luz Intensa Pulsada e os Lasers Fracionados Ablativo e Não Ablativo.
            </p>
            <h2>
                Qual a diferença entre as ponteiras de Luz Intensa Pulsada e laser?
            </h2>
            <p>
                O Etherea possui ponteiras de Luz Pulsada e de laser. A Luz Intensa Pulsada (LIP), assim como o laser, é uma fonte de energia luminosa não ablativa. Ou seja, ambos geram calor na pele sem provocar qualquer alteração da continuidade da pele – um corte. Mas, diferentemente do laser, a LIP apresenta diversos comprimentos de onda, isto é, atinge diferentes alvos. Já o laser é mais específico – age exatamente no ponto desejado. A LIP aborda diferentes alterações numa mesma aplicação, uma vez que atinge diferentes alvos: a melanina (que, em excesso, causa sardas e manchas), os vasos sanguíneos (no caso, os microvasos da face e do colo principalmente) e o colágeno (para tratar flacidez e rugas).
            </p>
            <h2>
                A ponteira de Laser é útil para quais alterações? 
            </h2>
            <p>
                O Etherea 1340nm é uma ponteira de laser fracionado não ablativo que faz parte da plataforma de Laser Etherea. A tecnologia de laser fracionado relaciona-se à emissão dos raios em pequenas colunas com áreas de pele ao redor. O fracionamento dos raios torna o tempo de recuperação menor e o procedimento mais seguro. O laser atua na profundidade da pele com suas pequenas colunas de dano térmico, gerando estímulo para proliferação de colágeno.
            </p>
            <h2>
                Que partes do corpo podem se beneficiar?
            </h2>
            <p>
                Pode ser utilizado na face e em áreas extrafaciais, como pescoço, colo, abdômen, e coxas.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
  `
  ;
        break;
      case "acroma":
        title.innerText = "Laser Acroma"
        section.innerHTML = `
           <div class="right-content">
        <img src="../img/tecnologias/.png" alt="">
        <div class="info-text">
            <h2>
                O que é?
            </h2>
            <p>
                Esse é um laser do tipo NdYag 1064 nm QS, não ablativo (não atinge a camada superficial da pele) que tem alta afinidade pelos pigmentos. Isso significa que ele libera a sua energia muito rapidamente e sem aquecer a pele. Ele é seguro inclusive para o tratamento de peles morenas e negras e tem aprovação do FDA para tratamento do melasma.
            </p>
            <h2>
                Como é o tratamento?
            </h2>
            <p>
                O tratamento é realizado pelo dermatologista, que irá avaliar a sua queixa e definir o número de sessões e a energia que deve ser utilizada em cada sessão. São usados óculos de proteção durante a sessão e esse laser possui uma tolerabilidade excelente, com pouca dor. Podemos associar o Syberian (resfriador) para deixar a sessão ainda mais confortável.
            </p>
            <h2>
                Para que serve?
            </h2>
            <ul>
                <li>
                    Temos várias indicações:
                </li>
                <li>
                    Melasma resistente, tendo inclusive aprovação do FDA e ANVISA para essa indicação
                </li>
                <li>
                    Olheiras pigmentares – Melanoses solares (manchas de sol)
                </li>
                <li>
                    Clareamento de axilas e virilhas escuras
                </li>
                <li>
                    Laser Toning (melhora do viço e tônus da pele através de múltiplas sessões, sem tempo de recuperação)
                </li>
                <li>
                    Remoção de tatuagens
                </li>
                <li>
                    Remoção de micropigmentação
                </li>
            </ul>
            <h2>
                Quantas sessões?
            </h2>
            <p>
                Existem diferentes protocolos de tratamento. Quando tratamos melasma, olheiras ou melanoses solares, precisamos intensificar as sessões para um melhor resultado. Costumamos indicar de 6 a 8 sessões, com intervalos curtos, de 1 semana a 15 dias. Para a remoção de tatuagem, as sessões podem variar de 6 a 12, com intervalos mensais, dependendo do tipo de desenho.
            </p>
            <h2>
                Recuperação?
            </h2>
            <p>
                Para o melasma é super importante ser um laser delicado, que vai agir no pigmento, mas não inflamar a pele, por isso a recuperação é ótima. Não há edema ou descamação, e o paciente pode apresentar apenas um eritema (vermelhidão) discreto.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
`;
        break;
      case "pulsada":
        title.innerText = "Luz Intensa Pulsada"
        section.innerHTML = `
            <div class="right-content">
        <img src="../img/tecnologias/.png" alt="">
        <div class="info-text">
            <h2>
                O que é a Luz Intensa Pulsada?
            </h2>
            <p>
                A Luz Intensa Pulsada (LIP) é uma tecnologia segura e eficaz, sendo realizada por aparelhos que possuem lâmpadas flash de alta energia, que emitem um feixe de luz e que produzem calor na superfície da pele. Por ser uma luz policromática (diferentes comprimentos de onda), essa luz atinge diferentes alvos: a melanina, os vasos sanguíneos e o colágeno, permitindo assim um tratamento global da pele que traz vários benefícios simultâneos. Na Clínica Lídia Gusmão utilizamos a plataforma Etherea.
            </p>
            <p>
                Devido à sua ação sobre a melanina, a Luz Intensa Pulsada costuma ser indicada para o tratamento de manchas indesejáveis, como melanoses solares (manchas senis) e sardas, tanto na face, quanto em áreas corporais como a mão ou o colo.
            </p>            
            <p>
                Como também age nos vasos sanguíneos, a Luz Intensa Pulsada é muito eficaz para a redução de microvasos (telangiectasias), vermelhidão facial e rosácea. E, por fim, tem o benefício adicional de estimular o colágeno, com consequente rejuvenescimento da pele, melhorando a maciez, textura, luminosidade e os indesejados poros dilatados.
            </p>
            <p>
                Por não gerar dano da epiderme (é uma técnica não ablativa), a Luz Intensa Pulsada é uma técnica sem grandes restrições após sua aplicação, permitindo retorno imediato às atividades normais do dia a dia. Deve-se apenas evitar exposição solar direta e usar hidratante e protetor solar. Além disso, o procedimento é praticamente indolor.
            </p>
            <p>
                Dependendo da intensidade de cada caso, são necessárias, em média, de duas a quatro sessões. É importante a avaliação do dermatologista especialista para cada caso individualmente.
            </p>
            <p>
                O tratamento com a Luz Intensa Pulsada é contraindicado durante a gestação e para pacientes portadores de Lúpus. Além disso, não pode ser aplicado em pacientes com a pele bronzeada por exposição solar recente.
            </p>
            
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
        `;
        break;
      case "deep":
        title.innerText = "Laser Pro Deep"
        section.innerHTML = `
               <div class="right-content">
        <img src="../img/tecnologias/.png" alt="">
        <div class="info-text">
            <p>
                Atualmente, é impossível falarmos em beleza e rejuvenescimento sem falarmos de laser. Os avanços nos últimos anos foram enormes nessa área.
            </p>
            <h2>
                Qual o objetivo do laser fracionado não ablativo? 
            </h2>
            <p>
                A energia que é emitida pelo laser se propaga pelo tecido, levando a um estímulo na produção de colágeno, uma das estruturas responsáveis pela qualidade da pele. Dessa forma, o Laser Fracionado está indicado nos casos em que queremos promover uma remodelação das camadas da pele e estímulo da produção de colágeno, como:
            </p>
            <ul>
                <li>
                    Cicatrizes de acne;
                </li>
                <li>
                    Tratamento de rugas: ao redor dos lábios, olhos e em toda a face;
                </li>
                <li>
                    Rejuvenescimento da pele da face, colo, pescoço e “papada”;
                </li>
                <li>
                    Manchas solares e senis;
                </li>
                <li>
                    Tratamento de estrias;
                </li>
                <li>
                    Poros abertos e dilatados;
                </li>
                <li>
                    Olheiras.
                </li>
            </ul>
            <h2>
                Quais são os tipos de laser que existem?
            </h2>
            <p>
                O termo “rejuvenescimento a laser “ é bem amplo pois vários tipos de lasers podem ser usados para esse fim. A principal diferença entre eles é se eles agridem ou não a superfície da pele. Os chamados lasers ablativos, como, por exemplo, o laser de CO2, removem a superfície da pele, originando pequenas crostas. Já os chamados lasers não ablativos agem apenas na profundidade da pele, estimulando o colágeno e deixando sua superfície intacta.
            </p>
            <p>
                O laser de CO2 tradicional geralmente é aplicado em uma sessão, muito mais agressiva e, portanto, com recuperação mais lenta. Como atualmente a maioria dos pacientes não podem se afastar do trabalho e atividades rotineiras por muito tempo, às vezes nem por um dia, os lasers não ablativos possibilitam uma recuperação mais rápida e com menos efeitos colaterais, mas mantendo excelentes resultados, necessitando porém de mais sessões
            </p>
            <p>
                Os resultados estéticos aparecem logo após a recuperação da pele, que ainda continua a melhorar durante meses, porque a remodelação do colágeno leva de quatro a seis meses para se completar.
            </p>
            <h2>
                Como é o tratamento?
            </h2>
            <p>
                O número de sessões pode variar muito em cada caso. Em média, o resultado entre 2 e 4 sessões é ótimo. Logo na primeira aplicação já é possível observar melhora da qualidade da pele.
            </p>
            <h2>
                Qual o período de recuperação após o laser fracionado?
            </h2>
            <p>
                O tempo de recuperação depende da profundidade do tratamento. Os mais leves propiciam recuperação completa em torno de 5 a 7 dias, permitindo que o paciente retorne ao trabalho na segunda ou terça-feira, após uma aplicação na sexta-feira, por exemplo. Os mais profundos podem demorar cerca de 2 semanas.
            </p>
            <h2>
                Alguns cuidados após a aplicação:
            </h2>
            <ul>
                <li>                    
                    É extremamente importante não se expor ao sol durante, no mínimo, 3 semanas após o tratamento. No dia a dia é necessário o uso de protetor solar, pois essa nova pele, ainda em cicatrização, está mais sensível e passível de manchar com maior facilidade.
                </li>
                <li>                    
                    Peles recentemente bronzeadas não devem receber esse tratamento e peles morenas e negras precisam ser cuidadosamente avaliadas pelo dermatologista, pois nelas o tratamento pode ser arriscado
                </li>
                <li>
                    Em alguns casos, pode ser necessário o preparo da pele com cremes e ácidos algumas semanas antes das sessões, de acordo com a indicação do dermatologista.
                </li>
            </ul>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "dual":
        title.innerText = ""
        section.innerHTML = `
               
            `;
        break;
      case "intimo":
        title.innerText = ""
        section.innerHTML = `
              
            `;
        break;
      case "depilacao":
        title.innerText = "Laser Depilação"
        section.innerHTML = `
                <div class="right-content">
        <img src="../img/tecnologias/.png" alt="">
        <div class="info-text">
            <h2>
                O que é a Depilação a Laser? 
            </h2>
            <p>
                A depilação a laser é um método seguro e eficaz no tratamento de pelos indesejados. Quando aplicado na região tratada, sua luz altamente concentrada é captada pela melanina (substância responsável pela coloração do bulbo e da haste do pelo) numa fração de segundos, causando destruição total ou parcial do folículo piloso (raiz do pelo), impedindo-o de crescer novamente. Pode ser realizado tanto por mulheres, quanto por homens, em diferentes idades, tons de pele e em diversas áreas do corpo, sendo frequentemente indicado para casos de foliculite (pelos encravados).
            </p>
            <p>
                O número de sessões dependerá da avaliação de seu médico, sendo recomendado, em média, seis sessões, com intervalo de trinta dias entre elas. A necessidade de várias sessões é explicada pelas três fases de crescimento dos pelos. No nosso organismo e numa mesma região, cada grupinho de pelos está numa fase do seu ciclo de crescimento. O laser é melhor absorvido e portanto, o folículo do pelo é melhor destruído quando ele está na sua primeira fase (fase anágena). Portanto, a cada sessão um grupo de pelos é atingido.
            </p>
            <p>
                Os resultados podem ser percebidos logo nas primeiras sessões, onde os pelos ficarão mais finos, falhados e com crescimento mais lento. Para maior segurança, o paciente deverá evitar bronzeamento entre as sessões, utilizando sempre o filtro solar adequado indicado pelo dermatologista.
            </p>
            <p>
                A eficácia do tratamento é de cerca de 70% a 80% dos pelos destruídos, restando apenas alguns mais fininhos. Por isso, após o término do tratamento, é necessário realizar manutenção anual para avaliar sempre a área tratada. Alguns pelinhos podem se regenerar, o que depende de pessoa para pessoa.
            </p>
            <p>
                As áreas onde os pelos são mais grossos e escuros são as áreas que exibem os melhores resultados. A fim de potencializar os resultados da depilação a laser, é importante evitar métodos que “arranquem” o fio desde sua raiz (como uso de pinças ou cera). Para quem se preocupa com a dor, atualmente os aparelhos mais modernos apresentam resfriamento e são muito bem tolerados.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div>
            `;
        break;
      case "ultraformer":
        title.innerText = ""
        section.innerHTML = `
               
            `;
      break;
      case "mpt":
        title.innerText = "Ultraformer MPT"
        section.innerHTML = `
              <div class="right-content">
        <img src="../img/tecnologias/.png" alt="">
        <div class="info-text">
            <h2>
                ULTRAFORMER – Ultrassom micro e macro focado
            </h2>
            <p>
                É comum que ao longo do tempo notemos perda de firmeza na pele com progressiva piora do contorno facial e aumento da flacidez na pele do corpo como um todo. Apesar de muitos desejarem melhorar sua aparência, é comum que alguns optem por evitar tratamentos cirúrgicos por serem intervenções mais invasivas e com riscos maiores associados. Por isso, dispomos atualmente de uma série de possibilidades de tratamento que visam rejuvenescer de modo menos invasivo. Uma dessas opções de tratamento é o ultrassom microfocado (Ultraformer).
            </p>
            <p>
                O Ultraformer III é uma tecnologia moderna que combina o ultrassom micro e macro focado. As ponteiras de ultrassom microfocado são utilizadas na face, promovendo uma melhora da flacidez e um efeito de reposicionamento da pele não cirúrgico. Já as ponteiras de ultrassom macrofocado são indicados para o corpo, reduzindo a flacidez, a gordura localizada e melhorando o contorno corporal.
            </p>
            <p>
                Na face, o procedimento pode ser realizado em várias áreas estratégicas para gerar um efeito lifting, tratando o contorno do terço inferior, que com o tempo vai se “apagando”, como resultado da flacidez. Pode também ser utilizado em áreas específicas, como pálpebras superiores, bolsas palpebrais inferiores e na região submentoniana, a famosa “papada”. Inclusive uma das grandes vantagens do ultrassom microfocado é o tratamento dessas áreas específicas, que muitas vezes não eram contempladas em outros tratamentos disponíveis até então.
            </p>
            <p>
                Por exemplo, seu efeito nas pálpebras é a melhora nas pequenas linhas que afetam essa região com o passar dos anos. Pode ocorrer ainda o arqueamento da sobrancelha e a melhora da flacidez dessa região.
            </p>
            <p>
                Já na região do submento (papada) pode ser tratada não só para melhora da flacidez, como também da gordura localizada na área.
            </p>
            <p>
                Assim como outros tratamentos para estímulo da produção natural de colágeno, seus resultados não são imediatos, pois dependem da formação progressiva de colágeno. Em compensação, são resultados bastante animadores.
            </p>
            <p>
                De modo geral, o Ultraformer é um tratamento bem tolerado durante e após sua realização, com a possibilidade de retorno imediato a suas atividades diárias.
            </p>
            <p>
                Vale lembrar também que para pacientes que sentem-se ansiosos com intervenções mais invasivas, o ultrassom microfocado Ultraformer não envolve o uso de agulhas ou cânulas, sendo uma excelente possibilidade terapêutica para essas pessoas, que, em geral, evitam tratamentos injetáveis.
            </p>
            <p>
                Atualmente existem inúmeras técnicas que combatem os efeitos da idade através de diferentes mecanismos. A combinação dessas estratégias pode otimizar ainda mais os resultados.
            </p>
            <p>
                Um protocolo muito interessante é a associação do tratamento com Ultraformer seguido de aplicação de Sculptra (ácido poli L-lático) no mesmo dia ou na mesma semana. Juntos eles promovem um grande estímulo à síntese de colágeno novo e de qualidade e otimizam ainda mais a resposta ao tratamento.
            </p>
        </div>
    
        <!-- não retirar -->
        <p>Marque sua consulta e venha viver uma experiência dermatológica feita para você.</p>
        <div class="adress">
            <p>
                <strong>CENTRO</strong> Praça Mahatma Gandhi, nº 2, sala 621 | Edifício do Cinema Odeon
                Rio de Janeiro, RJ | 20031-100
            </p>
            <p>
                <strong>IPANEMA</strong> R. Visc. de Pirajá, nº 550
                Sala 313 | Rio de Janeiro, RJ | 22410-002
            </p>
            <p>
                <strong>whatsapp</strong> +55 21 98585-3637 |<br/>
                +55 21 2232-5778 | +55 2 3852-4678
            </p>
    
        </div>
    </div> 
            `;
      break;
      case "power":
        title.innerText = ""
        section.innerHTML = `
                
            `;
      break;
        default:
        title.innerText = ""
        section.innerHTML = `
        
        `;
        break;
    }
  }
</script>