---
title: Lídia Gusmão - Médicos da pele. De verdade.
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav.njk' %}

<header>
    <img class="header-img only-desktop" src="../../img/tratamentos/header.png" alt="">
    <img class="header-img mobile-tablet" src="../../img/tratamentos/header-mob.png" alt="">
    <div class="right-text">
        <p>Soluções personalizadas para <br/>
            realçar sua <b>beleza natural.</b>
        </p>
    </div>
    <div class="left-text">
        <h1>tratamentos</h1>
        <p class="transparentButton">descubra o ideal para você</p>
    </div>
</header>

<section class="tratamentos-icons">
    <a href="/tratamentos#dermatolgia">
        <img src="../img/tratamentos/dermatologia-icon.png" alt="">
        <p>Dermatologia clínica e cirúrgica</p>
    </a>
    <a href="/tratamentos#tricologia">
        <img src="../img/tratamentos/tricologia-icon.png" alt="">
        <p>Tricologia</p>
    </a>
    <a href="/tratamentos#cosmiatria">
        <img src="../img/tratamentos/cosmiatria-icon.png" alt="">
        <p>Cosmiatria</p>
    </a>
    <a href="/tratamentos#tecnologia">
        <img src="../img/tratamentos/tecnologia-icon.png" alt="">
        <p>Tecnologias</p>
    </a>
</section>

<section class="dermatologia" id="dermatologia">
    <div class="wrap-dermatologia">
        <div class="dermatologia-left">
            <h1>Dermatologia clínica e cirúrgica</h1>
            <p>
                Tratamentos das principais doenças da pele, além de prevenir e diagnosticar o câncer de pele.
                Dentre os tratamentos inclui:
            </p>
            <a href="" class="blueButton">entre em contato</a>
        </div>
        <div class="dermatologia-right">
            <a href="/dermatologia">
                <p>Consulta dermatológica</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Cirurgia dermatológica</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Dermatoscopia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Lobuloplastia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Xantelasma</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Blefaroplastia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Eletrocoagulação</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Criocirurgia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Exérese de cisto / lipoma / tumor</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Exérese de nervo (remoção de pintas)</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="/dermatologia">
                <p>Biópsia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
    </div>
    <div class="wrap-images">
        <img src="../img/dermatologia.png" alt="">
        <img src="../img/tratamentos/dermatologia2.png" alt="">
    </div>
</section>

<section class="tricologia" id="tricologia"">
    <h1>Tricologia</h1>
    <div class="wrap-tricologia">
        <img src="../img/tricologia.png" alt="">
        <div class="tricologia-right">
            <p>Tricologia é a área da dermatologia que cuida da saúde dos cabelos e do couro cabeludo, tratando queda, enfraquecimento e outros desequilíbrios capilares com olhar especializado e personalizado.</p>
            <a class="item" href="/tricologia">
                <p>Tricoscopia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>MMP Capilar</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Mesoterapia Capilar</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>LLLT (IGROW)</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Infiltração para alopecia</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Laser</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="" class="blueButton">entre em contato</a>
        </div>
    </div>

</section>

<section class="tricologia reverse" id="cosmiatria">
    <h1>Cosmiatria</h1>
    <div class="wrap-tricologia">
        <div class="tricologia-right">
            <p>Cosmiatria é a especialidade da dermatologia que realça a beleza única de cada paciente, promovendo um envelhecimento saudável e natural da pele.</p>
            <a class="item" href="/tricologia">
                <p>Injetáveis</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Bioestimuladores</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Bioremodeladores</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Fios de PDO</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>IPCA (Microagulhamento)</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>MMP Facial</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tricologia">
                <p>Peelings</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="" class="blueButton">entre em contato</a>
        </div>
        <img src="../img/cosmiatria.png" alt="">
    </div>

</section>

<section class="tricologia" id="tecnologia">
    <h1>Tecnologias</h1>
    <div class="wrap-tricologia">
        <img src="../img/tratamentos/tecnologias.png" alt="">
        <div class="tricologia-right">
            <a class="item" href="/tecnologias">
                <p>Laser Etherea</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Laser Acroma</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Luz intensa Pulsada</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Laser Pro Deep</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Laser Dual mode</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Laser íntimo</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Laser depilação</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Ultraformer II</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Ultraformer MPT</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a class="item" href="/tecnologias">
                <p>Power 2</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
            <a href="" class="blueButton">entre em contato</a>
        </div>
    </div>

</section>

<section class="queixas">
    <h1>Queixas e Áreas de Tratamento</h1>
    <p>Confira algumas das principais áreas que tratamos:</p>

    <div class="table">
        <div class="table-item">
            <h3>Flacidez</h3>
            <p>Conheça nossos tratamentos para flacidez.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item">
            <h3>Rugas dinâmicas</h3>
            <p>Você sabia que existem dois tipos de rugas: as rugas dinâmicas e estáticas?</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item">
            <h3>Hiperidrose</h3>
            <p>Tratamentos para sudorese excessiva.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item no-right">
            <h3>Pescoço</h3>
            <p>Toxina Botulínica para Região do Pescoço (Nefertiti Lift).</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item">
            <h3>Olheiras</h3>
            <p>Tratamentos para olheiras.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item">
            <h3>Pele negra</h3>
            <p>Protocolos para pele negra.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item">
            <h3>Papada</h3>
            <p>Tratamento para papada.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item no-right">
            <h3>Estrias</h3>
            <p>Veja quais são as opções de tratamento para estrias.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item no-bottom">
            <h3>Melasma e manchas</h3>
            <p>Como prevenir e tratar.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item no-bottom">
            <h3>Tratamento íntimo</h3>
            <p>Conheça as técnicas de rejuvenescimento íntimo.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item no-bottom">
            <h3>Cicatrizes de acne</h3>
            <p>Quais são os tratamentos mais indicados para as cicatrizes de acne?</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
        <div class="table-item no-right no-bottom">
            <h3>Calvície e alopecia</h3>
            <p>Veja quais são as opções de tratamento para estrias.</p>
            <a href="/queixas">
                <p>Saiba mais</p>
                <img src="../img/svg/right-arrow.svg" alt="">
            </a>
        </div>
    </div>
</section>




{% include 'footer.njk' %}